<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container top-padding-med admin-area">

    <div class="pull-left">
        <a href="#/addAddress" ng-show="{{currentUser}}" class="btn btn-success">{{"Buttons.Add" | translate}}</a>
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group"><input ng-model="searchText" placeholder="Filter" class="form-control" /></div>
            <div class="form-group margin-left-med">
                <select ng-model="sortOrder" ng-options="item.value as item.text for item in sortOptions"
                        class="form-control"></select>
            </div>

        </form>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>{{"Address.Country" | translate}}</th>
                <th>{{"Address.City" | translate}}</th>
                <th>{{"Address.Area" | translate}}</th>
                <th>{{"Address.AddressLine1" | translate}}</th>
                <th>{{"Address.AddressLine2" | translate}}</th>
                <th>{{"User.CreatedBy" | translate}}</th>
                <th>{{"User.ModifiedBy" | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="address in addresses | filter:searchText | orderBy:sortOrder">
                <td><a href="#/addresses/{{address._id}}"> <div ng-repeat="emp in address.Country.Name | filter:{Lang:currentLang}">{{emp.Text}}</div></a></td>
                <td><div ng-repeat="emp in address.City.Name | filter:{Lang:currentLang}">{{emp.Text}}</div></td>
                <td><div ng-repeat="emp in address.Area.Name | filter:{Lang:currentLang}">{{emp.Text}}</div></td>
                <td>{{address.AddressLine1}}</td>
                <td>{{address.AddressLine2}}</td>
                <td>{{ address.CreatedBy.FirstName}} {{ address.CreatedBy.LastName}}</td>
                <td>{{ address.ModifiedBy.FirstName}} {{ address.ModifiedBy.LastName}}</td>


                <td><a href="#/updateAddress/{{address._id}}"> {{"Buttons.Update" | translate}}</a></td>
            </tr>
        </tbody>
    </table>
</div>