<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area" ng-controller="mvAddressCtrl">

    <div class="well">
        <!--<h3>
        <div ng-repeat="ind in address.addressName | filter:{Lang:currentLang}">{{ind.Text}}</div>
        </h3>-->
        <form name="addressForm" class="form-horizontal">
            <fieldset>

                <!--<div class="form-group">
                        <label for="Text" class="col-md-2 control-label">{{"address.addressName"
                            | translate}}</label>
                        <div class="col-md-10">

                            <ul ng-repeat="lang in languages" id="addressNames">

                                <li id="{{lang.value}}">

                                    {{ lang.text}}
                                    <input id="addressNameText2" type="text"
                                           placeholder="addressName" required="required"
                                           value="{{getName(address.addressName , lang.value)}}"
                                           class="form-control" />

                                </li>
                            </ul>
                        </div>
                    </div>-->
                <div class="form-group">
                    
                    <label for="country" class="col-md-2 control-label">{{"Address.Country"| translate}}</label>


                    <div class="col-md-2">
                        <select ng-model="address.Country" ng-options="country._id as country.Name[0].Text for country in countries"
                                class="form-control"></select>
                    </div>

                
                    <label for="city" class="col-md-2 control-label">{{"Address.City"| translate}}</label>


                    <div class="col-md-2">
                        <select ng-model="address.City" ng-options="city._id as city.Name[0].Text for city in cities"
                                class="form-control"></select>
                    </div>

                   
                    <div class="form-group">
                        <label for="area" class="col-md-2 control-label">{{"Address.Area"| translate}}</label>


                        <div class="col-md-2">
                            <select ng-model="address.Area" ng-options="area._id as area.Name[0].Text for area in areas"
                                    class="form-control"></select>
                        </div>

                    </div>
                    <!--Auto Complete true
                        <div class="form-group">
                            <label for="country" class="col-md-2 control-label">{{"Address.Country"| translate}}</label>                        
                            <autocomplete ng-model="address.Country" data="names" on-type="updateMovies"></autocomplete>
                        </div>-->
                

                    <!--<label for="employerType" class="col-md-2 control-label">
                            {{"Employer.EmployerType"
                            | translate}}
                        </label>
                        <div class="col-md-3">
                            <select ng-model="employer.EmployerType" ng-options="item.value as item.text for item in employerTypes"
                                    class="form-control"></select>
                        </div>-->
                    <label for="AddressLine1" class="col-md-2 control-label">
                        {{"Address.AddressLine1"| translate}}
                    </label>

                    <div class="col-md-3">
                        <input name="AddressLine1" placeholder="{{'Address.AddressLine1' | translate}}"
                               ng-model="address.AddressLine1" required="required"
                               class="form-control" />
                    </div>
                    <label for="AddressLine2" class="col-md-2 control-label">
                        {{"Address.AddressLine2"| translate}}
                    </label>

                    <div class="col-md-3">
                        <input name="AddressLine2" placeholder="{{'Address.AddressLine2' | translate}}"
                               ng-model="address.AddressLine2" required="required"
                               class="form-control" />
                    </div>
                    <!--<label for="averageNumberOfJobOpeningsPerMonth" class="col-md-2 control-label">
                            {{"Employer.AverageNumberOfJobOpeningsPerMonth"
                            | translate}}
                        </label>

                        <div class="col-md-1">
                            <input name="averageNumberOfJobOpeningsPerMonth" type="number"
                                   placeholder="{{'Employer.AverageNumberOfJobOpeningsPerMonth' | translate}}"
                                   ng-model="employer.AverageNumberOfJobOpeningsPerMonth"
                                   class="form-control" />
                        </div>-->
                </div>







                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" ng-disabled="addressForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Update" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="addressForm.$invalid||!addEnabled" class="btn btn-primary">
                                {{"Buttons.NewAddress" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
        <!--<table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>{{"Address.AddressLine1" | translate}}</th>
                    <th>{{"User.CreatedBy" | translate}}</th>
                    <th>{{"User.ModifiedBy" | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresses | filter:searchText | orderBy:sortOrder">
                    <td><a href="#/jobRoles/{{jobRole._id}}"> <div ng-repeat="ind in jobRole.JobRoleName | filter:{Lang:currentLang}"> {{ind.Text}}</div></a></td>

                    <td>{{ jobRole.ModifiedBy.FirstName}} {{ jobRole.ModifiedBy.LastName}}</td>
                    <td>{{ jobRole.CreatedBy.FirstName}} {{ jobRole.CreatedBy.LastName}}</td>

                    <td><a href="#/updatejobRole/{{jobRole._id}}"> {{"Buttons.Update" | translate}}</a></td>
                </tr>
            </tbody>
        </table>-->

    </div>
</div>