<div class="noo-page-heading">
    <div class="container-boxed max parallax-content">
        <div class="page-heading-info">
            <h1 class="page-title">Vacancies Search Result</h1>
        </div>
    </div>
    <div class="parallax heading" data-parallax="1" data-parallax_no_mobile="1" data-velocity="0.1" style="background-position: 50% 7px;"></div>
</div>
<div class="container-wrap">
    <div class="main-content container-boxed max offset">

        <div class="row">

            <div class="col-lg-5">
                <div id="accordion1" class="ui-accordion ui-widget ui-helper-reset">

                    <!--Start the 1st accordion-->
                    <!-- Start Header of the accordion-->
                    <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                        Location
                    </h3>
                    <!-- End Header of the accordion-->
                    <!-- Start Content of the accordion-->
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                        <div id="accordion11" class="ui-accordion ui-widget ui-helper-reset">
                            <h3 id="countriesHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Country
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div>
                                    <div id="countriesDiv"></div>
                                    <input style="width:350px" type="text" id="countryName" />
                                </div>
                            </div>

                            <h3 id="citiesHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                City
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div>
                                    <div id="citiesDiv"></div>
                                    <input style="width:350px" type="text" id="cityName" />
                                </div>
                            </div>

                            <h3 id="areasHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Area
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div>
                                    <div id="areasDiv"></div>
                                    <input style="width:350px" type="text" id="areaName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Content of the accordion-->
                    <!--End the 1st accordion-->
                    <!--Start the 2nd accordion-->
                    <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                        Job Classification
                    </h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                        <div id="accordion12" class="ui-accordion ui-widget ui-helper-reset">

                            <h3 id="industriesHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Industry
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div id="industriesDiv"></div>
                                <input style="width:350px" type="text" id="industryName" />
                            </div>

                            <h3 id="jobRolesHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Job Role
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div id="jobRolesDiv"></div>
                                <input style="width:350px" type="text" id="jobRoleName" />
                            </div>

                            <h3 id="jobTypesHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Job Type
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div id="jobTypesDiv"></div>
                                <input style="width:350px" type="text" id="jobTypeName" />
                            </div>
                        </div>
                    </div>
                    <!--End the 2nd accordion-->
                    <!--Start the 3rd accordion-->
                    <h3 class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                        Job Details
                    </h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                        <div id="accordion13" class="ui-accordion ui-widget ui-helper-reset">

                            <h3 id="educationalLevelsHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Educational Level
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div id="educationalLevelsDiv"></div>
                                <input style="width:350px" type="text" id="educationalLevelName" />
                            </div>

                            <h3 id="careerLevelsHeader" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                Career Level
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                <div id="careerLevelsDiv"></div>
                                <input style="width:350px" type="text" id="careerLevelName" />
                            </div>

                        </div>
                    </div>
                    <!--End the 3rd accordion-->

                </div>
            </div>

            <div class="noo-main col-md-7">
                <div class="jobs posts-loop">
                    <div class="posts-loop-content">
                        <article class="noo_job hentry" ng-repeat="vacancy in vacancies | filter:searchText | orderBy:sortOrder">
                            <div class="loop-item-wrap">
                                <div class="item-featured">
                                    <a href="#">
                                        <img width="50" height="50" src="images/company/company_50x50.jpg" alt="Villa Senang" />
                                    </a>
                                </div>
                                <div class="loop-item-content">
                                    <h2 class="loop-item-title">
                                        <a href="#/vacancies/{{vacancy._id}}">{{vacancy.JobTitle}}</a>
                                    </h2>
                                    <p class="content-meta">
                                        <span class="job-company">
                                            <a href="#">{{"Vacancy.SalaryRangeFrom" | translate}} : {{vacancy.SalaryRangeFrom}}</a>
                                        </span>
                                        <span class="job-company">
                                            <a href="#">{{"Vacancy.SalaryRangeTo" | translate}} : {{ vacancy.SalaryRangeTo }}</a>
                                        </span>

                                        <span>
                                            <time class="entry-date" datetime="{{ vacancy.CreatedAt }}">
                                                <i class="fa fa-calendar"></i>
                                                Created {{vacancy.CreatedAt | date:'fullDate'}}
                                            </time>
                                        </span>

                                        <span>
                                            <time class="entry-date" datetime="{{ vacancy.UpdatedAt }}">
                                                <i class="fa fa-calendar"></i>
                                                Modified  {{vacancy.UpdatedAt | date:'fullDate'}}
                                            </time>
                                        </span>
                                    </p>
                                </div>
                                <!--<div class="show-view-more">
                                    <a class="btn btn-primary" href="jobs-detail.html">View more </a>
                                </div>-->
                            </div>
                        </article>


                    </div>
                    <uib-pagination total-items="allDataCount"
                                    items-per-page="paging.pageSize"
                                    ng-model="paging.currentPage"
                                    max-size="paging.maxPagesToShow"
                                    ng-change="getData()"
                                    class="pagination-lg left"
                                    boundary-links="true"
                                    previous-text="{{'Buttons.Previous' | translate}}"
                                    next-text="{{'Buttons.Next' | translate}}"
                                    first-text="{{'Buttons.First' | translate}}"
                                    last-text="{{'Buttons.Last' | translate}}">
                    </uib-pagination>
                </div>
            </div>
        </div>
        
    </div>
        <p ng-show="!vacancies.length">{{"Vacancy.NoData" | translate}}</p>

        <div id="loader" style="visibility:hidden ; position:absolute ; top:15% ; left:40%">
            <img src="ajax-loader.gif" alt="" />
        </div>
    </div>