body {
    padding-top: 61px;
}

.navbar-header a.navbar-brand {
    margin-top: -15px;
    margin-bottom: -20px;
}

    .navbar-header a.navbar-brand h6 {
        color: #ccc;
    }

footer {
    padding-left: 15px;
    padding-right: 15px;
}

    footer p {
        border-top: 1px solid #d7e0e2;
    }

.navbar-form .form-group {
    margin-left: 10px;
}

.navbar-form button {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-form a {
    margin-left: 10px;
    margin-right: 10px;
}

.top-padding-med {
    padding-top: 10px;
}

.margin-left-med {
    margin-left: 10px;
}

.toast-top-right {
    top: 70px;
}

.toast-success {
    background-color: #13987e;
}

.login {
    height: 380px;
    width: 390px;
    float: left;
    margin-left: 10px;
    padding-top: 4px;
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.welcome {
    width: 730px;
    float: left;
    height: 380px;
    padding-top: 15px;
}

.signup_button {
    display: inline-block;
    background: #00a000;
    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;
    width: 80px;
    padding-right: 7px;
    padding-left: 7px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;
    cursor: pointer;
}

.facebook_button {
    display: inline-block;
    background: #627aac url("facebook_small.png") left no-repeat;
    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;
    height: 25px;
    padding-right: 7px;
    padding-left: 29px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;
    cursor: pointer;
}

.google_button {
    display: inline-block;
    background: #4285f4 url("google-normal.png") left no-repeat;
    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;
    height: 25px;
    padding-right: 7px;
    padding-left: 29px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;
    cursor: pointer;
}

.admin-area {
    width: 1070px;
}

input.submitted.ng-invalid {
    border: 1px solid #f00;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

.form-control-md-first {
    float: left;
    display: block;
    width: 49%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-md-second {
    float: right;
    display: block;
    width: 49%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}








.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 1px solid #ddd;
}
.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius: 2px;
  border: 0;
}
.panel-group .panel-heading {
  padding: 0;
}
.panel-group .panel-heading a {
  display: block;
  background: #668bb1;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
.panel-group .panel-heading a.collapsed {
  background: #eeeeee;
  color: inherit;
}
.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top:5px;
  font-size:30px;
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.panel-group .panel-collapse {
  margin-top: 5px !important;
}
.panel-group .panel-body {
  background: #ffffff;
  padding: 15px;
}
.panel-group .panel {
  background-color: transparent;
}
.panel-group .panel-body p:last-child,
.panel-group .panel-body ul:last-child,
.panel-group .panel-body ol:last-child {
  margin-bottom: 0;
}
