<html ng-app="app" ng-controller="mvMainHeadCtrl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>Index | Empower</title>
    <link rel="stylesheet" ng-href="{{customStyleFile}}" />
    <link rel='stylesheet' href='css/app.css' type='text/css' media='all' />
    <link rel="stylesheet" ng-href="{{customBootstrapStyleFile}}" />
    <link rel="stylesheet" ng-href="{{siteFile}}" />
   
</head>

<body>


    <div class="site">
        <header class="noo-header" id="noo-header">
            <div ng-include="'/partials/main/menu'"></div>
        </header>


        <div ng-view="ng-view"></div>

        <footer class="colophon site-info" ng-include="'/partials/main/footer'"></footer>

    </div>

    <a href="#" class="go-to-top hidden-print">
        <i class="fa fa-angle-up"></i>
    </a>


    <div class="memberModalLogin modal fade" id="userloginModal"
         tabindex="-1" role="dialog" aria-hidden="true">

        <div ng-include="'/partials/account/front-login'"></div>

    </div>


    <div class="memberModalRegister modal fade"
         id="userregisterModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div ng-include="'/partials/account/front-signup'"></div>
    </div>

    <script src="js/libs.js"></script>
    <script src="js/customscripts.js"></script>
  
</body>
</html>