<html ng-app="app" ng-controller="mvMainHeadCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>Index | Empower</title>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/jquery.datetimepicker.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/chosen.css' type='text/css' media='all' />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/toastr/toastr.min.css" />
    <link rel="stylesheet" href="vendor/toastr/autocomplete.css" />
    <link rel='stylesheet' href='css/custombootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='vendor/build/loading-bar.min.css' type='text/css' media='all' />
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" ng-href="{{bootstrapFile}}" />-->
    <!--<link rel="stylesheet" href="vendor/toastr/toastr.min.css" />
    <link rel="stylesheet" href="vendor/toastr/autocomplete.css" />
    <link rel="stylesheet" ng-href="{{siteFile}}" />
    <link rel="stylesheet" ng-href="{{sideBarFile}}" />
    <link rel="stylesheet" href="vendor/jquery-ui/themes/smoothness/jquery-ui.css" />
    <link rel='stylesheet' href='vendor/build/loading-bar.min.css' type='text/css' media='all' />-->
    

</head>
<body>
    
    
    <div class="site">
        <header class="noo-header" id="noo-header">
            <div ng-include="'/partials/main/menu'"></div>
            </header>
       
       
        <div ng-view="ng-view"></div>

        <footer class="colophon site-info" ng-include="'/partials/main/footer'"></footer>

</div>
    <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>

  
    
    

    <div class="memberModalLogin modal fade" id="userloginModal" tabindex="-1" role="dialog" aria-hidden="true" >
        
        <div ng-include="'/partials/account/front-login'"></div>

    </div>
    

    <div class="memberModalRegister modal fade" id="userregisterModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div ng-include="'/partials/account/front-signup'"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>-->

    <script type='text/javascript' src='js/jquery-migrate.min.js'></script>
    <!--<script type="text/javascript" src="vendor/jquery-ui/jquery-ui.min.js"></script>-->
    <script type='text/javascript' src='js/modernizr-2.7.1.min.js'></script>
    <script type='text/javascript' src='js/jquery.cookie.js'></script>
    <script type='text/javascript' src='js/jquery.blockUI.min.js'></script>
    <script type='text/javascript' src='js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='js/isotope-2.0.0.min.js'></script>
    <script type='text/javascript' src='js/jquery.touchSwipe.min.js'></script>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/hoverIntent-r7.min.js'></script>
    <script type='text/javascript' src='js/superfish-1.7.4.min.js'></script>
    <script type='text/javascript' src='js/script.js'></script>
    <script type='text/javascript' src='js/chosen.jquery.min.js'></script>
    <script type='text/javascript' src='js/jquery.datetimepicker.js'></script>
    <script type='text/javascript' src='js/jquery.parallax-1.1.3.js'></script>
    <script type='text/javascript' src='js/jquery.carouFredSel-6.2.1-packed.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
    
    <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="vendor/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="vendor/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="vendor/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="vendor/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="vendor/autocomplete.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script type="text/javascript" src="vendor/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script type="text/javascript" src="vendor/angular-animate/angular-animate.min.js" ></script>
    <script type="text/javascript" src="vendor/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
   
    <!-- Main -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/main/mvlookup.js"></script>
    <script type="text/javascript" src="app/main/mvStyle.js"></script>
    <script type="text/javascript" src="app/main/mvMainCtrl.js"></script>
    <script type="text/javascript" src="app/main/mvMainHeadCtrl.js"></script>
    <script type="text/javascript" src="app/main/mvFooterCtrl.js"></script>
    <script type="text/javascript" src="app/main/mvSidebarCtrl.js"></script>
    <script type="text/javascript" src="app/main/mvLogoCtrl.js"></script>
    <script type="text/javascript" src="app/country/mvCountry.js"></script>
    <script type="text/javascript" src="app/country/mvCountryRepo.js"></script>
    <script type="text/javascript" src="app/curancy/mvCurancy.js"></script>
    <script type="text/javascript" src="app/companySize/mvCompanySize.js"></script>
    <script type="text/javascript" src="app/companyType/mvCompanyType.js"></script>
    <script type="text/javascript" src="app/language/mvCachedLanguage.js"></script>
    <script type="text/javascript" src="app/language/mvLanguage.js"></script>
    <script type="text/javascript" src="app/trainingCenter/mvCachedtrainingCenter.js"></script>
    <script type="text/javascript" src="app/trainingCenter/mvTrainingCenter.js"></script>
    <script type="text/javascript" src="app/languageLevel/mvCachedLanguageLevel.js"></script>
    <script type="text/javascript" src="app/languageLevel/mvLanguageLevel.js"></script>
    <script type="text/javascript" src="app/skillLevel/mvCachedSkillLevel.js"></script>
    <script type="text/javascript" src="app/skillLevel/mvSkillLevel.js" ></script>
    <script type="text/javascript" src="app/skillLevel/mvSkillLevelRepo.js"></script>
    <script type="text/javascript" src="app/skillType/mvCachedSkillType.js"></script>
    <script type="text/javascript" src="app/skillType/mvSkillType.js"></script>
    <script type="text/javascript" src="app/skillType/mvSkillTypeRepo.js"></script>
    <script type="text/javascript" src="app/main/mvHotVacanciesCtrl.js"></script>
    <script type="text/javascript" src="app/main/mvNewVacanciesCtrl.js"></script>
    <script type='text/javascript' src="app/main/mvJobsByIndustriesCtrl.js"></script>
    <script type='text/javascript' src='vendor/build/loading-bar.min.js'></script>

    <!-- Utilites -->
    <script type="text/javascript" src="app/common/mvNotifier.js"></script>

    <!-- Sign up & Sign on -->
    <script type="text/javascript" src="app/account/mvNavBarLoginCtrl.js"></script>
    <script type="text/javascript" src="app/account/mvIdentity.js"></script>
    <script type="text/javascript" src="app/account/mvAuth.js"></script>
    <script type="text/javascript" src="app/account/mvUser.js"></script>
    <script type="text/javascript" src="app/account/mvSignupCtrl.js"></script>
    <script type="text/javascript" src="app/account/mvProfileCtrl.js"></script>
    <script type="text/javascript" src="app/account/mvFrontSignupCtrl.js"></script>
    <script type="text/javascript" src="app/account/mvForgetPasswordCtrl.js"></script>
    <script type="text/javascript" src="app/account/mvFrontLoginCtrl.js"></script>
    <script type="text/javascript" src="app/account/mvResetPasswordCtrl.js"></script>
   
     <!-- Course -->
    <script type="text/javascript" src="app/course/mvCourseListCtrl.js"></script>
    <script type="text/javascript" src="app/course/mvCachedCourse.js"></script>
    <script type="text/javascript" src="app/course/mvCourseDetailCtrl.js"></script>
    <script type="text/javascript" src="app/course/mvCourseRepo.js"></script>
    <script type="text/javascript" src="app/course/mvCourseCtrl.js"></script>
    <script type="text/javascript" src="app/course/mvCourse.js"></script>
   
    <!-- Skills -->
    <script type="text/javascript" src="app/skill/mvCachedSkill.js"></script>
    <script type="text/javascript" src="app/skill/mvSkill.js"></script>
    <script type="text/javascript" src="app/skill/mvSkillCtrl.js"></script>
    <script type="text/javascript" src="app/skill/mvSkillDetailCtrl.js"></script>
    <script type="text/javascript" src="app/skill/mvSkillListCtrl.js"></script>
    <script type="text/javascript" src="app/skill/mvSkillRepo.js"></script>

    <!-- LanguageSkills -->
    <script type="text/javascript" src="app/languageSkill/mvCachedLanguageSkill.js"></script>
    <script type="text/javascript" src="app/languageSkill/mvLanguageSkill.js"></script>
    <script type="text/javascript" src="app/languageSkill/mvLanguageSkillCtrl.js"></script>
    <script type="text/javascript" src="app/languageSkill/mvLanguageSkillDetailCtrl.js"></script>
    <script type="text/javascript" src="app/languageSkill/mvLanguageSkillListCtrl.js"></script>
    <script type="text/javascript" src="app/languageSkill/mvLanguageSkillRepo.js"></script>
    
    <!-- Employer -->
    <script type="text/javascript" src="app/employer/mvEmployer.js"></script>
    <script type="text/javascript" src="app/employer/mvCachedEmployer.js"></script>
    <script type="text/javascript" src="app/employer/mvEmployerDetailCtrl.js"></script>
    <script type="text/javascript" src="app/employer/mvEmployerRepo.js"></script>
    <script type="text/javascript" src="app/employer/mvEmployerCtrl.js"></script>
    <script type="text/javascript" src="app/employer/mvEmployerListCtrl.js"></script>   

    <!-- Vacancy -->
    <script type="text/javascript" src="app/vacancy/mvVacancy.js"></script>
    <script type="text/javascript" src="app/vacancy/mvCachedVacancy.js"></script>
    <script type="text/javascript" src="app/vacancy/mvVacancyDetailCtrl.js"></script>
    <script type="text/javascript" src="app/vacancy/mvVacancyRepo.js"></script>
    <script type="text/javascript" src="app/vacancy/mvVacancyCtrl.js"></script>
    <script type="text/javascript" src="app/vacancy/mvVacancyListCtrl.js"></script>
    <script type="text/javascript" src="app/vacancy/mvVacancyByIndustryListCtrl.js"></script>
    <script type="text/javascript" src="app/vacanciesSearchResult/mvVacanciesSearchResultCtrl.js"></script>

    <!-- Industry -->
    <script type="text/javascript" src="app/industry/mvIndustry.js"></script>
    <script type="text/javascript" src="app/industry/mvCachedIndustry.js"></script>
    <script type="text/javascript" src="app/industry/mvIndustryDetailCtrl.js"></script>
    <script type="text/javascript" src="app/industry/mvIndustryRepo.js"></script>
    <script type="text/javascript" src="app/industry/mvIndustryCtrl.js"></script>
    <script type="text/javascript" src="app/industry/mvIndustryListCtrl.js"></script>

    <!-- JobType -->
    <script type="text/javascript" src="app/jobType/mvJobType.js"></script>
    <script type="text/javascript" src="app/jobType/mvCachedJobType.js"></script>
    <script type="text/javascript" src="app/jobType/mvJobTypeDetailCtrl.js"></script>
    <script type="text/javascript" src="app/jobType/mvJobTypeCtrl.js"></script>
    <script type="text/javascript" src="app/jobType/mvJobTypeListCtrl.js"></script>
    <script type="text/javascript" src="app/jobType/mvJobTypeRepo.js"></script>

    <!-- JobRole -->
    <script type="text/javascript" src="app/jobRole/mvJobRole.js"></script>
    <script type="text/javascript" src="app/jobRole/mvCachedJobRole.js"></script>
    <script type="text/javascript" src="app/jobRole/mvJobRoleDetailCtrl.js"></script>
    <script type="text/javascript" src="app/jobRole/mvJobRoleCtrl.js"></script>
    <script type="text/javascript" src="app/jobRole/mvJobRoleListCtrl.js"></script>
    <script type="text/javascript" src="app/jobRole/mvJobRoleRepo.js"></script>

    <!-- Category -->
    <script type="text/javascript" src="app/category/mvCategory.js"></script>
    <script type="text/javascript" src="app/category/mvCachedCategory.js"></script>
    <script type="text/javascript" src="app/category/mvCategoryDetailCtrl.js"></script>
    <script type="text/javascript" src="app/category/mvCategoryRepo.js"></script>
    <script type="text/javascript" src="app/category/mvCategoryCtrl.js"></script>
    <script type="text/javascript" src="app/category/mvCategoryListCtrl.js"></script>

    <!-- Job Seeker -->
    <script type="text/javascript" src="app/jobSeeker/mvJobSeeker.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvCachedJobSeeker.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerDetailCtrl.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerRepo.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerCtrl.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerListCtrl.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerPersonalInformationCtrl.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerContactInformationCtrl.js"></script>
    <script type="text/javascript" src="app/jobSeeker/mvJobSeekerJobPreferencesCtrl.js"></script>

    <!-- Inner Pages -->
    <script type="text/javascript" src="app/innerPage/mvInnerPage.js"></script>
    <script type="text/javascript" src="app/innerPage/mvCachedInnerPage.js"></script>
    <script type="text/javascript" src="app/innerPage/mvInnerPageDetailCtrl.js"></script>
    <script type="text/javascript" src="app/innerPage/mvInnerPageRepo.js"></script>
    <script type="text/javascript" src="app/innerPage/mvInnerPageCtrl.js"></script>
    <script type="text/javascript" src="app/innerPage/mvInnerPageListCtrl.js"></script>

    <!-- Experiance -->
    <script type="text/javascript" src="app/experiance/mvExperiance.js"></script>
    <script type="text/javascript" src="app/experiance/mvCachedExperiance.js"></script>
    <script type="text/javascript" src="app/experiance/mvExperianceDetailCtrl.js"></script>
    <script type="text/javascript" src="app/experiance/mvExperianceRepo.js"></script>
    <script type="text/javascript" src="app/experiance/mvExperianceCtrl.js"></script>
    <script type="text/javascript" src="app/experiance/mvExperianceListCtrl.js"></script>

    <!-- Educational Information -->
    <script type="text/javascript" src="app/educationalInformation/mvEducationalInformation.js"></script>
    <script type="text/javascript" src="app/educationalInformation/mvEducationalInformationCtrl.js"></script>
    <script type="text/javascript" src="app/educationalInformation/mvEducationalInformationDetailCtrl.js"></script>
    <script type="text/javascript" src="app/educationalInformation/mvEducationalInformationListCtrl.js"></script>
    <script type="text/javascript" src="app/educationalInformation/mvEducationalInformationRepo.js"></script>

    <!-- Address -->
    <script type="text/javascript" src="app/address/mvAddress.js"></script>
    <script type="text/javascript" src="app/address/mvAddressCtrl.js"></script>
    <script type="text/javascript" src="app/address/mvAddressDetailCtrl.js"></script>
    <script type="text/javascript" src="app/address/mvAddressListCtrl.js"></script>
    <script type="text/javascript" src="app/address/mvAddressRepo.js"></script>
    <script type="text/javascript" src="app/address/mvCachedAddress.js"></script>

    <!-- Gender -->
    <script type="text/javascript" src="app/gender/mvGender.js"></script>
    <script type="text/javascript" src="app/gender/mvGenderRepo.js"></script>

    <!-- MaritalStatus -->
    <script type="text/javascript" src="app/maritalStatus/mvMaritalStatus.js"></script>
    <script type="text/javascript" src="app/maritalStatus/mvMaritalStatusRepo.js"></script>

    <!-- MilitaryStatus -->
    <script type="text/javascript" src="app/militaryStatus/mvMilitaryStatus.js"></script>
    <script type="text/javascript" src="app/militaryStatus/mvMilitaryStatusRepo.js"></script>

    <!-- CarLicenceType -->
    <script type="text/javascript" src="app/carLicenceType/mvCarLicenceType.js"></script>
    <script type="text/javascript" src="app/carLicenceType/mvCarLicenceTypeRepo.js"></script>

    <!-- EducationType -->
    <script type="text/javascript" src="app/educationType/mvEducationType.js"></script>
    <script type="text/javascript" src="app/educationType/mvEducationTypeRepo.js"></script>
    
    <!-- EducationalLevel  -->
    <script type="text/javascript" src="app/educationalLevel/mvEducationalLevel.js"></script>
    <script type="text/javascript" src="app/educationalLevel/mvEducationalLevelRepo.js"></script>
    <script type="text/javascript" src="app/educationalLevel/mvEducationalLevelCtrl.js"></script>
    <script type="text/javascript" src="app/educationalLevel/mvEducationalLevelDetailCtrl.js"></script>
    <script type="text/javascript" src="app/educationalLevel/mvEducationalLevelListCtrl.js"></script>

    <!-- CareerLevel  -->
    <script type="text/javascript" src="app/careerLevel/mvCareerLevelRepo.js"></script>
    <script type="text/javascript" src="app/careerLevel/mvCareerLevel.js"></script>

    <!-- Faculty -->
    <script type="text/javascript" src="app/faculty/mvFaculty.js"></script>
    <script type="text/javascript" src="app/faculty/mvFacultyRepo.js"></script>
    <script type="text/javascript" src="app/faculty/mvCachedFaculty.js"></script>
    <script type="text/javascript" src="app/faculty/mvFacultyCtrl.js"></script>
    <script type="text/javascript" src="app/faculty/mvFacultyDetailCtrl.js"></script>
    <script type="text/javascript" src="app/faculty/mvFacultyListCtrl.js"></script>

    <!-- Grade -->
    <script type="text/javascript" src="app/grade/mvGrade.js"></script>
    <script type="text/javascript" src="app/grade/mvGradeRepo.js"></script>

    <!-- Specialization -->
    <script type="text/javascript" src="app/specialization/mvSpecialization.js"></script>
    <script type="text/javascript" src="app/specialization/mvSpecializationRepo.js"></script>
    <script type="text/javascript" src="app/specialization/mvCachedSpecialization.js"></script>
    <script type="text/javascript" src="app/specialization/mvSpecializationCtrl.js"></script>
    <script type="text/javascript" src="app/specialization/mvSpecializationDetailCtrl.js"></script>
    <script type="text/javascript" src="app/specialization/mvSpecializationListCtrl.js"></script>

    <!-- Univirsty -->
    <script type="text/javascript" src="app/univirsty/mvUnivirsty.js"></script>
    <script type="text/javascript" src="app/univirsty/mvUnivirstyRepo.js"></script>
    <script type="text/javascript" src="app/univirsty/mvUnivirstyCtrl.js"></script>
    <script type="text/javascript" src="app/univirsty/mvUnivirstyDetailCtrl.js"></script>
    <script type="text/javascript" src="app/univirsty/mvUnivirstyListCtrl.js"></script>
    <script type="text/javascript" src="app/univirsty/mvCachedUnivirsty.js"></script>
    <script type="text/javascript" src="app/univirstyNotConfirmed/mvUnivirstyNotConfirmedListCtrl.js"></script>

    <!-- City -->
    <script type="text/javascript" src="app/city/mvCity.js"></script>
    <script type="text/javascript" src="app/city/mvCityCtrl.js"></script>
    <script type="text/javascript" src="app/city/mvCityDetailCtrl.js"></script>
    <script type="text/javascript" src="app/city/mvCityListCtrl.js"></script>
    <script type="text/javascript" src="app/city/mvCityRepo.js"></script>
    <script type="text/javascript" src="app/city/mvCachedCity.js"></script>
    <script type="text/javascript" src="app/cityNotConfirmed/mvCityNotConfirmedListCtrl.js"></script>

    <!-- Area -->
    <script type="text/javascript" src="app/area/mvArea.js"></script>
    <script type="text/javascript" src="app/area/mvAreaCtrl.js"></script>
    <script type="text/javascript" src="app/area/mvAreaDetailCtrl.js"></script>
    <script type="text/javascript" src="app/area/mvAreaListCtrl.js"></script>
    <script type="text/javascript" src="app/area/mvAreaRepo.js"></script>
    <script type="text/javascript" src="app/area/mvCachedArea.js"></script>
    <script type="text/javascript" src="app/areaNotConfirmed/mvAreaNotConfirmedListCtrl.js"></script>

    <!-- Admin-->
    <script type="text/javascript" src="app/admin/users/mvUserListCtrl.js"></script>

    <!-- Translation-->
    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/directives.js"></script>
    <script type="text/javascript" src="app/queryBulider.js"></script>
    
    <!-- Applicant -->
    <script type="text/javascript" src="app/applicant/mvApplicant.js"></script>
    <script type="text/javascript" src="app/applicant/mvApplicantCtrl.js"></script>
    <script type="text/javascript" src="app/applicant/mvApplicantDetailCtrl.js"></script>
    <script type="text/javascript" src="app/applicant/mvApplicantListCtrl.js"></script>
    <script type="text/javascript" src="app/applicant/mvApplicantRepo.js"></script>
    <script type="text/javascript" src="app/applicant/mvCachedApplicant.js"></script>
    
    
    

</body>
</html>