<div class="noo-page-heading">
    <div class="container-boxed max parallax-content">
        <div class="page-heading-info">
            <h1 class="page-title">Usersqqq List</h1>
        </div>
    </div>
    <div class="parallax heading" data-parallax="1" data-parallax_no_mobile="1" data-velocity="0.1" style="background-position: 50% 7px;"></div>
</div>
<div class="container-wrap">
    <div class="main-content container-boxed max offset">
        <div class="row">
            <div class="noo-main col-md-12">
                <div class="jobs posts-loop">
                    
                    <div class="posts-loop-content">
                        <article class="noo_job hentry" ng-repeat="user in users">
                            <div class="loop-item-wrap">
                                <div class="item-featured">
                                    <a href="#">
                                        <img width="50" height="50" src="images/company/company_50x50.jpg" alt="Villa Senang" />
                                    </a>
                                </div>
                                <div class="loop-item-content">
                                    <h2 class="loop-item-title">
                                        <a href="#">{{ user.UserName }}</a>
                                    </h2>
                                    <p class="content-meta">
                                        <span class="job-company">
                                            <a href="#">{{ user.FirstName }} {{ user.LastName }}</a>
                                        </span>
                                        <span class="job-type contract">
                                            <a href="#">
                                                <i class="fa fa-bookmark"></i>{{ user.UserType }}
                                            </a>
                                        </span>

                                        <span>
                                            <time class="entry-date" datetime="{{ user.CreatedAt }}">
                                                <i class="fa fa-calendar"></i>
                                                Created {{user.CreatedAt | date:'fullDate'}}
                                            </time>
                                        </span>

                                        <span>
                                            <time class="entry-date" datetime="{{ user.UpdatedAt }}">
                                                <i class="fa fa-calendar"></i>
                                                Modified  {{user.UpdatedAt | date:'fullDate'}}
                                            </time>
                                        </span>
                                    </p>
                                </div>
                                <div class="show-view-more">
                                  
                                    <a href="#/subUserFeatures/{{user._id}}" class="btn btn-primary"> {{"User.Features" | translate}}</a>

                                </div>
                            </div>
                        </article>
                      
                        
                    </div>
                    <uib-pagination total-items="allDataCount"
                                    items-per-page="paging.pageSize"
                                    ng-model="paging.currentPage"
                                    max-size="paging.maxPagesToShow"
                                    ng-change="getData()"
                                    class="pagination-lg"
                                    boundary-links="true"
                                    previous-text="{{'Buttons.Previous' | translate}}"
                                    next-text="{{'Buttons.Next' | translate}}"
                                    first-text="{{'Buttons.First' | translate}}"
                                    last-text="{{'Buttons.Last' | translate}}">
                    </uib-pagination>   
                    </div>
                </div>
                    

</div>
</div>
</div>