<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area">

    <div class="well">
        <h3>
        <div ng-repeat="emp in employer.EmployerName | filter:{Lang:currentLang}">{{emp.Text}}</div>
        </h3>
        <form name="employerForm" class="form-horizontal">
            <fieldset>
                <!--
                <div class="form-group">
                    <label for="language" class="col-md-2 control-label">Langauge</label>
                    <div class="col-md-10">

                            <select ng-model="lang" ng-options="item.value as item.text for item in languages"
                                    class="form-control">

                            </select>
                          </div>
                </div>

                    <div class="form-group">
                        <label for="employerName" class="col-md-2 control-label">{{"Employer.EmployerName"
                            | translate}}</label>


                            <div class="col-md-10">  <input id="EmployerNameText" type="text"
                                   placeholder="EmployerName"
                                   ng-model="employerNameText"
                                   class="form-control"/>
                                </div>
                    </div>

                        <div class="form-group">
                            <label for="Save" class="col-md-2 control-label">Save</label>
                <div class="col-md-10">
                            <button ng-click="saveEmployerName()">Save</button>
</div>
                        </div>
                            <div class="form-group">
                                <label for="Text" class="col-md-2 control-label">List</label>
                <div class="col-md-10">
                    <ul ng-repeat="EmployerName in employer.EmployerName">

                        <li>{{ EmployerName.Lang}}
                        {{ EmployerName.Text}}

                            <button ng-click="deleteEmployerName(EmployerName)">Delete</button>

                            <button ng-click="updateEmployerName(EmployerName)">Update</button>
                        </li>
                        </ul>
            </div>
                            </div>

-->
                <div class="form-group">
                    <label for="Text" class="col-md-2 control-label">{{"Employer.EmployerName"
                        | translate}}</label>
                    <div class="col-md-10">

                        <ul ng-repeat="lang in languages" id="employerNames">

                            <li id="{{lang.value}}">

                                {{ lang.text}}
                                  <input id="EmployerNameText2" type="text"
                                                                placeholder="EmployerName"
                                                                value="{{getName(employer.EmployerName , lang.value)}}"
                                                                class="form-control"/>

                            </li>
                        </ul>
                    </div>
                </div>


                <div class="form-group">
                    <label for="employerType" class="col-md-2 control-label">{{"Employer.EmployerType"
                    | translate}}</label>
                    <div class="col-md-10">
                    <select ng-model="employer.EmployerType" ng-options="item.value as item.text for item in employerTypes"
                            class="form-control">
                        </select></div>

                    </select>
                </div>
                <div class="form-group"><label for="numberOfEmployees" class="col-md-2 control-label">{{"Employer.NumberOfEmployees"
                    | translate}}</label>

                    <div class="col-md-10"><input name="numberOfEmployees" type="text" placeholder="Number Of Employees"
                                                  ng-model="employer.NumberOfEmployees" required="required"
                                                  class="form-control"/></div>
                </div>
                <div class="form-group"><label for="averageNumberOfJobOpeningsPerMonth" class="col-md-2 control-label">{{"Employer.AverageNumberOfJobOpeningsPerMonth"
                    | translate}}</label>

                    <div class="col-md-10"><input name="averageNumberOfJobOpeningsPerMonth" type="text"
                                                  placeholder="Average Number Of Job Openings Per Month"
                                                  ng-model="employer.AverageNumberOfJobOpeningsPerMonth"
                                                  class="form-control"/></div>
                </div>

                <div class="form-group"><label for="contactFirstName" class="col-md-2 control-label">{{"Employer.ContactFirstName"
                    | translate}}</label>

                    <div class="col-md-10"><input name="contactFirstName" type="text" placeholder="Contact First Name"
                                                  ng-model="employer.ContactFirstName" required="required"
                                                  class="form-control"/></div>
                </div>

                <div class="form-group"><label for="contactLastName" class="col-md-2 control-label">{{"Employer.ContactLastName"
                    | translate}}</label>

                    <div class="col-md-10"><input name="contactLastName" type="text" placeholder="contact Last Name"
                                                  ng-model="employer.ContactLastName" required="required"
                                                  class="form-control"/></div>
                </div>

                <div class="form-group"><label for="contactTitle" class="col-md-2 control-label">{{"Employer.ContactTitle"
                    | translate}}</label>

                    <div class="col-md-10"><input name="contactTitle" type="text" placeholder="Contact Title"
                                                  ng-model="employer.ContactTitle" required="required"
                                                  class="form-control"/></div>
                </div>

                <div class="form-group"><label for="ContactMobileNumber" class="col-md-2 control-label">{{"Employer.ContactMobileNumber"
                    | translate}}</label>

                    <div class="col-md-10"><input name="contactMobileNumber" type="text" placeholder="ContactMobileNumber"
                                                  ng-model="employer.ContactMobileNumber" required="required"
                                                  class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" ng-disabled="employerForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Update" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="employerForm.$invalid||!addEnabled" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a></div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>