<div class="container">
    <div class="well"><h3>{{employer.EmployerName[0].Text}}</h3>

        <form name="employerForm" class="form-horizontal">
            <fieldset>


                <div class="form-group">
                    <label for="employerType" class="col-md-2 control-label">{{"Employer.EmployerType"
                    | translate}}</label>
                    <div class="col-md-10">
                    <select ng-model="employer.EmployerType" ng-options="item.value as item.text for item in employerTypes"
                            class="form-control">
                        </select></div>

                    </select>
                </div>
                <div class="form-group"><label for="numberOfEmployees" class="col-md-2 control-label">{{"Employer.NumberOfEmployees"
                    | translate}}</label>

                    <div class="col-md-10"><input name="numberOfEmployees" type="text" placeholder="Number Of Employees"
                                                  ng-model="employer.NumberOfEmployees" required="required"
                                                  class="form-control"/></div>
                </div>
                <div class="form-group"><label for="averageNumberOfJobOpeningsPerMonth" class="col-md-2 control-label">{{"Employer.AverageNumberOfJobOpeningsPerMonth"
                    | translate}}</label>

                    <div class="col-md-10"><input name="averageNumberOfJobOpeningsPerMonth" type="text"
                                                  placeholder="Average Number Of Job Openings Per Month"
                                                  ng-model="employer.AverageNumberOfJobOpeningsPerMonth"
                                                  class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" ng-disabled="employerForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Update" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="employerForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a></div>
                    </div>
                </div>
                <div>
                    <table>
                    <tr ng-repeat="EmployerName in employer.EmployerName | filter:searchText | orderBy:sortOrder">

                        <td>{{ EmployerName.Lang}}</td>
                        <td>{{ EmployerName.Text}}</td>
                        <td>
                            <button ng-click="deleteEmployerName(EmployerName)">Delete</button>
                        </td>
                        <td>
                            <button ng-click="updateEmployerName(EmployerName)">Update</button>
                        </td>

                    </tr>
                    </table>
                    <table>
                        <tr>
                            <td>

                                <select ng-model="lang" ng-options="item.value as item.text for item in languages"
                                        class="form-control">

                                </select>


                            </td>

                            <td>
                                <input id="EmployerNameText" type="text"
                                       placeholder="EmployerName"
                                       ng-model="employerNameText"
                                       class="form-control"/>
                            </td>

                            <td>
                                <button ng-click="saveEmployerName()">Save</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>