<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area">

    <div class="well">
        
        <form name="skillForm" class="form-horizontal">
            <fieldset>
               
                
               
                <div class="form-group">
                    <label for="skillType" class="col-md-2 control-label">
                        {{"Skill.SkillType"| translate}}
                    </label>
                    <div class="col-md-3">
                        <select ng-model="skill.SkillType" ng-options="skillType._id as skillType.Name[0].Text for skillType in skillTypes"
                                class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>

                    <label for="skillLevel" class="col-md-2 control-label">
                        {{"Skill.SkillLevel"| translate}}
                    </label>
                    <div class="col-md-3">
                        <select ng-model="skill.SkillLevel" ng-options="skillLevel._id as skillLevel.Name[0].Text for skillLevel in skillLevels"
                                class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>


                   
                </div>
       

                
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" ng-disabled="skillForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Save" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="skillForm.$invalid||!addEnabled" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a></div>
                    </div>
                </div>
              

            </fieldset>
        </form>
    </div>
</div>
