<div class="container admin-area" ng-controller="mvJobSeekerPersonalInformationCtrl">
    <div class="well">
        <form name="jobSeekerForm" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="FirstName" class="col-md-2 control-label">{{"JobSeeker.FirstName" | translate}}</label>
                    <div class="col-md-10">
                        <input name="FirstName" type="text" placeholder="{{'JobSeeker.FirstName' | translate}}"
                               ng-model="jobSeeker.FirstName" class="form-control" required="required" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="MiddleName" class="col-md-2 control-label">{{"JobSeeker.MiddleName" | translate}}</label>
                    <div class="col-md-10">
                        <input name="MiddleName" type="text" placeholder="{{'JobSeeker.MiddleName' | translate}}"
                               ng-model="jobSeeker.MiddleName" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="LastName" class="col-md-2 control-label">{{"JobSeeker.LastName" | translate}}</label>
                    <div class="col-md-10">
                        <input name="LastName" type="text" placeholder="{{'JobSeeker.LastName' | translate}}"
                               ng-model="jobSeeker.LastName" class="form-control" required="required" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="Gender" class="col-md-2 control-label">{{"JobSeeker.Gender" | translate}}</label>
                    <div class="col-md-10">
                        <select name="Gender" ng-model="jobSeeker.Gender" required
                                ng-options="gender._id as gender.Name[0].Text for gender in genders" class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="MaritalStatus" class="col-md-2 control-label">{{"JobSeeker.MaritalStatus" | translate}}</label>
                    <div class="col-md-10">
                        <select name="MaritalStatus" ng-model="jobSeeker.MaritalStatus" required
                                ng-options="maritalStatus._id as maritalStatus.Name[0].Text for maritalStatus in maritalStatuses" class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="BirthDate" class="col-md-2 control-label">{{"JobSeeker.BirthDate" | translate}}</label>
                    <div class="col-md-10">
                        <input name="BirthDate" type="date" placeholder="Birth Date"
                               ng-model="jobSeeker.BirthDate" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="MilitaryStatus" class="col-md-2 control-label">{{"JobSeeker.MilitaryStatus" | translate}}</label>
                    <div class="col-md-10">
                        <select name="MilitaryStatus" ng-model="jobSeeker.MilitaryStatus" required
                                ng-options="militaryStatus._id as militaryStatus.Name[0].Text for militaryStatus in militaryStatuses" class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="CarLicenceType" class="col-md-2 control-label">{{"JobSeeker.CarLicenceType" | translate}}</label>
                    <div class="col-md-10">
                        <select name="CarLicenceType" ng-model="jobSeeker.CarLicenceType" required
                                ng-options="carLicenceType._id as carLicenceType.Name[0].Text for carLicenceType in carLicenceTypes" class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>
                </div>                
                
                                
                <!--
                <div class="form-group">
                    <label for="ResumeLink" class="col-md-2 control-label">{{"JobSeeker.ResumeLink" | translate}}</label>
                    <div class="col-md-10">
                        <input name="ResumeLink" type="text" placeholder="{{'JobSeeker.ResumeLink' | translate}}"
                               ng-model="jobSeeker.ResumeLink" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ExperienceLevel" class="col-md-2 control-label">{{"JobSeeker.ExperienceLevel"| translate}}</label>
                    <div class="col-md-10">
                        <input name="ExperienceLevel" type="number" placeholder="{{'JobSeeker.ExperienceLevel' | translate}}"
                               ng-model="jobSeeker.ExperienceLevel" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="EducationLevel" class="col-md-2 control-label">{{"JobSeeker.EducationLevel" | translate}}</label>
                    <div class="col-md-10">
                        <select name="EducationLevel" ng-model="jobSeeker.EducationLevel"
                                ng-options="item.value as item.text for item in educationLevels"
                                class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="SchoolName" class="col-md-2 control-label">{{"JobSeeker.SchoolName" | translate}}</label>
                    <div class="col-md-10">
                        <input name="SchoolName" type="text" placeholder="{{'JobSeeker.SchoolName' | translate}}"
                               ng-model="jobSeeker.SchoolName" class="form-control" />
                    </div>
                </div>-->

                <!--<div class="form-group">
                    <label for="GradeOfGraduation" class="col-md-2 control-label">{{"JobSeeker.GradeOfGraduation" | translate}}</label>
                    <div class="col-md-10">
                        <select name="GradeOfGraduation" ng-model="jobSeeker.GradeOfGraduation"
                                ng-options="item.value as item.text for item in gradesOfGraduation"
                                class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="SalaryPreference" class="col-md-2 control-label">{{"JobSeeker.SalaryPreference"| translate}}</label>
                    <div class="col-md-10">
                        <input name="SalaryPreference" type="number" placeholder="{{'JobSeeker.SalaryPreference' | translate}}"
                               ng-model="jobSeeker.SalaryPreference" required="required"
                               class="form-control" />
                    </div>
                </div>-->

                <!--<div class="form-group">
                    <label for="PreferredWork" class="col-md-2 control-label">{{"JobSeeker.PreferredWork" | translate}}</label>
                    <div class="col-md-10">
                        <select name="PreferredWork" ng-model="jobSeeker.PreferredWork"
                                ng-options="item.value as item.text for item in preferredWorks"
                                class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Reference1" class="col-md-2 control-label">{{"JobSeeker.Reference1" | translate}}</label>
                    <div class="col-md-10">
                        <input name="Reference1" type="text" placeholder="{{'JobSeeker.Reference1' | translate}}"
                               ng-model="jobSeeker.Reference1" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Reference1Contact" class="col-md-2 control-label">{{"JobSeeker.Reference1Contact" | translate}}</label>
                    <div class="col-md-10">
                        <input name="Reference1Contact" type="text" placeholder="{{'JobSeeker.Reference1Contact' | translate}}"
                               ng-model="jobSeeker.Reference1Contact" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Reference2" class="col-md-2 control-label">{{"JobSeeker.Reference2" | translate}}</label>
                    <div class="col-md-10">
                        <input name="Reference2" type="text" placeholder="{{'JobSeeker.Reference2' | translate}}"
                               ng-model="jobSeeker.Reference2" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Reference2Contact" class="col-md-2 control-label">{{"JobSeeker.Reference2Contact" | translate}}</label>
                    <div class="col-md-10">
                        <input name="Reference2Contact" type="text" placeholder="{{'JobSeeker.Reference2Contact' | translate}}"
                               ng-model="jobSeeker.Reference2Contact" class="form-control" />
                    </div>
                </div>-->

                <!--<div class="form-group">
                    <label for="PreferredCountryOfWork" class="col-md-2 control-label">{{"JobSeeker.PreferredCountryOfWork" | translate}}</label>
                    <div class="col-md-10">
                        <select name="PreferredCountryOfWork" ng-model="jobSeeker.PreferredCountryOfWork"
                                ng-options="item._id as item.Name for item in countries"
                                ng-change="GetSelectedCountry()" class="form-control">
                            <option value='0'>Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="PreferredCityOfWork" class="col-md-2 control-label">{{"JobSeeker.PreferredCityOfWork" | translate}}</label>
                    <div class="col-md-10">
                        <select name="PreferredCityOfWork" ng-model="jobSeeker.PreferredCityOfWork"
                                ng-options="item._id as item.Name for item in cities" class="form-control">
                            <option value='0'>Select</option>
                        </select>
                    </div>
                </div>-->

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" class="btn btn-primary">
                                {{"Buttons.Update" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>