<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container top-padding-med admin-area">

    <div class="pull-left">
        <a href="#/addUnivirsty" ng-show="{{currentUser}}" class="btn btn-success">{{"Buttons.Add" | translate}}</a>
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group"><input ng-model="searchText" placeholder="Filter" class="form-control" /></div>
            <div class="form-group margin-left-med">
                <select ng-model="sortOrder" ng-options="item.value as item.text for item in sortOptions"
                        class="form-control"></select>
            </div>

        </form>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>{{"Univirsty.Name" | translate}}</th>
                <th>{{"Univirsty.Country" | translate}}</th>
                <th>{{"Univirsty.Confirmed" | translate}}</th>
                <th>{{"User.ModifiedBy" | translate}}</th>
                <th>{{"User.CreatedBy" | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="univirsty in univirsties | filter:searchText | orderBy:sortOrder">
                <td><a href="#/univirsties/{{univirsty._id}}"> <div ng-repeat="name in univirsty.Name | filter:{Lang:currentLang}">{{name.Text}}</div></a></td>
                <td><div data-drag="true" jqyoui-draggable ng-repeat="country in univirsty.Country.Name | filter:{Lang:currentLang}">{{country.Text}}</div></td>
                <td><input type="checkbox" ng-model="univirsty.Confirmed" disabled="disabled"></td>
                <td>{{ univirsty.ModifiedBy.FirstName}} {{ univirsty.ModifiedBy.LastName}}</td>
                <td>{{ univirsty.CreatedBy.FirstName}} {{ univirsty.CreatedBy.LastName}}</td>
                <td><a class="btn btn-primary" ng-click="selectUnivirsty(univirsty)"> {{"Buttons.Select" | translate}}</a></td>

            </tr>
        </tbody>
    </table>
    
    <uib-pagination total-items="allDataCount"
                    items-per-page="paging.pageSize"
                    ng-model="paging.currentPage"
                    max-size="paging.maxPagesToShow"
                    ng-change="getData()"
                    class="pagination-lg" 
                    boundary-links="true"
                    previous-text="{{'Buttons.Previous' | translate}}"
                    next-text="{{'Buttons.Next' | translate}}"
                    first-text="{{'Buttons.First' | translate}}"
                    last-text="{{'Buttons.Last' | translate}}">
    </uib-pagination>

    <div class="row"></div>
    <div class="col-lg-6 text-center">Not Confirmed</div>
    <div class="col-lg-6 text-center">Confirmed</div>
    <div class="col-lg-6">
        
        <label id="selectedNotConfirmedUnivirsties"></label>
        <input id="selectedNotConfirmedUnivirstiesIds" type="hidden" />
        <br />
        <label id="message" class="text-danger"></label>
        <!--<select ng-model="univirsty.Country" multiple name="NotConfirmedUnivirsty" ng-options="univirsty._id as univirsty.Name[0].Text for univirsty in univirsties"
                    class="form-control"></select>-->
    </div>
    <div class="col-lg-6">
        <div class="form-group">
           
            <div class="col-md-3">
                <input id="univirstyName" name="Univirsty" />
                <input type="hidden" id="hfUnivirstyId" ng-model="area.Univirsty" />
                <input type="hidden" id="currentLang" value="ar" />
                <label id="selectedUnivirsty" />
               
            </div>
        </div>
    </div>
    
    <div class="col-lg-10">
        <div class="form-group">

            <div class="col-md-3">
                <input id="btnSave" class="btn btn-primary" type="button" value="Save" ng-click="saveUnivirsty(univirsty)" />

            </div>
            <br />
        </div>
    </div>
   
</div>