<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container top-padding-med  admin-area">

    <div class="well">

        <form name="educationalInformationForm" class="form-horizontal">
            <fieldset>

                <div class="form-group">
                    <label for="EducationType" class="col-md-2 control-label">{{"EducationalInformation.EducationType"| translate}}</label>
                    <div class="col-md-2">
                        <select name="EducationType" ng-model="educationalInformation.EducationType" required="required"
                                ng-options="educationType._id as educationType.Name[0].Text for educationType in educationTypes" class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="univirsty" class="col-md-1 control-label">{{"EducationalInformation.Univirsty"| translate}}</label>


                    <div class="col-md-4">

                        <input id="univirstyName" />
                        <input type="hidden" id="hfUnivirstyId" />
                        <input type="hidden" id="currentLang" value="ar" />
                        <label id="selectedUnivirsty" />

                        <div ng-repeat="emp in educationalInformation.Univirsty.Name | filter:{Lang:currentLang}">{{emp.Text}}</div>
                    </div>



                    <label for="faculty" class="col-md-1 control-label">{{"EducationalInformation.Faculty"| translate}}</label>


                    <div class="col-md-4">
                        <input id="facultyName"   />
                        <input type="hidden" id="hfFacultyId" />

                        <label id="selectedFaculty" />
                        <div ng-repeat="emp in educationalInformation.Faculty.Name | filter:{Lang:currentLang}">{{emp.Text}}</div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="specialization" class="col-md-1 control-label">{{"EducationalInformation.Specialization"| translate}}</label>


                    <div class="col-md-4">
                        <input id="specializationName" />
                        <input type="hidden" id="hfSpecializationId" />

                        <label id="selectedSpecialization" />
                        <div ng-repeat="emp in educationalInformation.Specialization.Name | filter:{Lang:currentLang}">{{emp.Text}}</div>
                    </div>
                   
                </div>

                <div class="form-group">
                    <label for="Grade" class="col-md-2 control-label">{{"EducationalInformation.Grade"| translate}}</label>
                    <div class="col-md-2">
                        <select name="Grade" ng-model="educationalInformation.Grade" required="required"
                                ng-options="grade._id as grade.Name[0].Text for grade in grades" class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" class="btn btn-primary">
                                {{"Buttons.Save" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="!addEnabled" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>


<div id="loader" style="visibility:hidden ; position:absolute ; top:15% ; left:40%">
    <img src="ajax-loader.gif" alt="" />
</div>
<script>
    $(function () {
        $("#univirstyName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/api/universtiesByName/" + request.term,
                    data: { prefix: request.term, currentLang: $("#currentLang").val() },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            console.log(item.Name[0].Text);
                            return { label: item.Name[0].Text, value: item.Name[0].Text, id: item._id };
                        }));
                    },
                    error: function (error) {

                        console.log(error);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    beforeSend: function () {
                        var p = $("#selectedUnivirsty");
                        var offset = p.offset();

                        //set
                        $("#loader").offset({ top: offset.top + 10, left: offset.left + 200 });
                        $('#loader').css("visibility", "visible");
                    },
                    complete: function () {

                        $('#loader').css("visibility", "hidden");
                    }
                });
            },
            select: function (e, i) {
                console.log(i.item);
                $("#hfUnivirstyId").val(i.item.id);
                $('#hfUnivirstyId').trigger('change');
                var p = $("#selectedUnivirsty");
                p.text(i.item.label);

            },
            minLength: 2
        });


    });
    $('#hfUnivirstyId').change(function () {
        var customerID = $(this).val();


    });

    $(function () {
        $("#facultyName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/api/facultiesByName/" + request.term,
                    data: { prefix: request.term, currentLang: $("#currentLang").val() },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            console.log(item.Name[0].Text);
                            return { label: item.Name[0].Text, value: item.Name[0].Text, id: item._id };
                        }));
                    },
                    error: function (error) {

                        console.log(error);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    beforeSend: function () {
                        var p = $("#selectedFaculty");
                        var offset = p.offset();

                        //set
                        $("#loader").offset({ top: offset.top + 10, left: offset.left + 200 });
                        $('#loader').css("visibility", "visible");
                    },
                    complete: function () {

                        $('#loader').css("visibility", "hidden");
                    }
                });
            },
            select: function (e, i) {
                console.log(i.item);
                $("#hfFacultyId").val(i.item.id);
                $('#hfFacultyId').trigger('change');
                var p = $("#selectedFaculty");
                p.text(i.item.label);

            },
            minLength: 2
        });


    });
    $('#hfFacultyId').change(function () {
        var customerID = $(this).val();


    });
    
    $(function () {
        $("#specializationName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/api/specializationsByName/" + request.term,
                    data: { prefix: request.term, currentLang: $("#currentLang").val() },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            console.log(item.Name[0].Text);
                            return { label: item.Name[0].Text, value: item.Name[0].Text, id: item._id };
                        }));
                    },
                    error: function (error) {

                        console.log(error);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    beforeSend: function () {
                        var p = $("#selectedFaculty");
                        var offset = p.offset();

                        //set
                        $("#loader").offset({ top: offset.top + 10, left: offset.left + 200 });
                        $('#loader').css("visibility", "visible");
                    },
                    complete: function () {

                        $('#loader').css("visibility", "hidden");
                    }
                });
            },
            select: function (e, i) {
                console.log(i.item);
                $("#hfSpecializationId").val(i.item.id);
                $('#hfSpecializationId').trigger('change');
                var p = $("#selectedSpecialization");
                p.text(i.item.label);

            },
            minLength: 2
        });


    });
    $('#hfSpecializationId').change(function () {
        var customerID = $(this).val();


    });
</script>