<div  ng-controller="mvEducationalInformationListCtrl">

    <div class="pull-left">
        <a href="#/addEducationalInformation" ng-show="{{currentUser}}" class="btn btn-success">{{"Buttons.Add" | translate}}</a>
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <input class="input-sm" ng-model="vm.educationalInformationSearch" ng-keyup="vm.search($event)" placeholder="Search..." />
        </form>
    </div>
    
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>{{"EducationalInformation.EducationType" | translate}}</th>
                <th>{{"EducationalInformation.Univirsty" | translate}}</th>
                <th>{{"EducationalInformation.Faculty" | translate}}</th>
                <th>{{"EducationalInformation.Specialization" | translate}}</th>
                <th>{{"EducationalInformation.Grade" | translate}}</th>
                <th>{{"User.CreatedBy" | translate}}</th>
                <th>{{"User.ModifiedBy" | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="educationalInformation in educationalInformations | filter:searchText | orderBy:sortOrder">
                <td>
                    <a href="#/educationalInformations/{{educationalInformation._id}}">
                        <span ng-repeat="name in educationalInformation.EducationType.Name |filter:currentLang">{{name.Text}}</span>
                    </a>
                </td>
                <td><span ng-repeat="name in educationalInformation.Univirsty.Name |filter:currentLang">{{name.Text}}</span></td>
                <td><span ng-repeat="name in educationalInformation.Faculty.Name |filter:currentLang">{{name.Text}}</span></td>
                <td><span ng-repeat="name in educationalInformation.Specialization.Name |filter:currentLang">{{name.Text}}</span></td>
                <td><span ng-repeat="name in educationalInformation.Grade.Name |filter:currentLang">{{name.Text}}</span></td>
                <td>{{ educationalInformation.CreatedBy.FirstName}} {{ educationalInformation.CreatedBy.LastName}}</td>
                <td>{{ educationalInformation.ModifiedBy.FirstName}} {{ educationalInformation.ModifiedBy.LastName}}</td>
                <td><a href="#/updateEducationalInformation/{{educationalInformation._id}}" class="btn btn-primary"> {{"Buttons.Update" | translate}}</a></td>
                <td><button class="btn btn-danger" ng-click="deleteEducationalInformation(educationalInformation)"> {{"Buttons.Delete" | translate}}</button></td>
            </tr>
        </tbody>
    </table>
    <uib-pagination total-items="allDataCount"
                    items-per-page="paging.pageSize"
                    ng-model="paging.currentPage"
                    max-size="paging.maxPagesToShow"
                    ng-change="getData()"
                    class="pagination-lg"
                    boundary-links="true"
                    previous-text="{{'Buttons.Previous' | translate}}"
                    next-text="{{'Buttons.Next' | translate}}"
                    first-text="{{'Buttons.First' | translate}}"
                    last-text="{{'Buttons.Last' | translate}}">
    </uib-pagination>
</div>