<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area">

    <div class="well">
        <h3>
       {{vacancy.JobTitle}}
        </h3>
        <form name="employerForm" class="form-horizontal">
            <fieldset>
                <div class="form-group"><label for="jobTitle" class="col-md-2 control-label">{{"Vacancy.JobTitle"
                    | translate}}</label>

                    <div class="col-md-10"><input name="jobTitle" type="text" placeholder="{{'Vacancy.JobTitle' | translate}}"
       ng-model="vacancy.JobTitle" required="required"
       class="form-control" /></div>
                </div>
                <div class="form-group"><label for="jobDescription" class="col-md-2 control-label">{{"Vacancy.JobDescrption"
                    | translate}}</label>

                    <div class="col-md-10"><textarea name="jobDescription" placeholder="{{'Vacancy.JobDescrption' | translate}}"
          ng-model="vacancy.JobDescription"
          class="form-control" /></div>
                </div>

                <div class="form-group">
                    <label for="requiredExperiance" class="col-md-2 control-label">
                        {{"Vacancy.RequiredExperiance"| translate}}
                    </label>

                    <div class="col-md-3">
                        <input name="requiredExperiance" type="number" placeholder="{{'Vacancy.RequiredExperiance' | translate}}"
                               ng-model="vacancy.RequiredExperience" required="required"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group"><label for="salary" class="col-md-2 control-label">{{"Vacancy.Salary"
                    | translate}}</label>

                    <div class="col-md-2"><input name="salary" type="number" placeholder="{{'Vacancy.Salary'| translate}}"
       ng-model="vacancy.Salary" required="required"
       class="form-control" /></div>
                </div>
                <div class="form-group"><label for="availableFrom" class="col-md-2 control-label">{{"Vacancy.AvailableFrom"
                                            | translate}}</label>
                    

                    <div class="col-md-2"><input name="availableFrom" type="date" placeholder="{{'vacancy.AvailableFrom'| translate}}"
                                                 ng-model="vacancy.AvailableFrom" required="required"
                                                 class="form-control" /></div>
                    <label for="availableFrom" class="col-md-2 control-label">
                        {{vacancy.AvailableFrom | date: 'dd/MM/yyyy'}}
                    </label>
                </div>

                <div class="form-group">
                    <label for="availableTo" class="col-md-2 control-label">{{"Vacancy.AvailableTo"| translate}}</label>
                   

                    <div class="col-md-2"><input name="availableTo" type="date" placeholder="{{'Vacancy.AvailableTo'| translate}}"
                                                 ng-model="vacancy.AvailableTo" required="required"
                                                 class="form-control" /></div>
                    <label for="availableTo" class="col-md-2 control-label">
                        {{vacancy.AvailableTo | date: 'dd/MM/yyyy'}}
                    </label>
                </div>
                
                <div class="form-group">
                    <label for="jobType" class="col-md-2 control-label">{{"Vacancy.JobType"| translate}}</label>


                    <div class="col-md-2">
                        <select ng-model="vacancy.JobType" ng-options="jobType._id as jobType.JobTypeName[0].Text for jobType in jobTypes"
                                class="form-control"></select>
                    </div>
                  
                </div>
                
                <div class="form-group">
                    <label for="industry" class="col-md-2 control-label">{{"Vacancy.Industry"| translate}}</label>


                    <div class="col-md-2">
                        <select ng-model="vacancy.Industry" ng-options="industry._id as industry.Description[0].Text for industry in industries"
                                class="form-control"></select>
                    </div>

                </div>
                
              

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" ng-disabled="employerForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Save" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="employerForm.$invalid||!addEnabled" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a></div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>