.container
    .well
        h3 {{employer.EmployerName}}
        form.form-horizontal(name="employerForm")
            fieldset
                .form-group
                    label.col-md-2.control-label(for="employerName") EmployerName
                    .col-md-10
                        input.form-control(name="employerName", type="employerName", placeholder="Employer Name", ng-model="employer.EmployerName", required)
                .form-group
                    label.col-md-2.control-label(for="employerType") Employer Type
                    .col-md-10
                        input.form-control(name="employerType", type="text", placeholder="Employer Type", ng-model="employer.EmployerType", required)
                .form-group
                    label.col-md-2.control-label(for="numberOfEmployees") Number Of Employees
                    .col-md-10
                        input.form-control(name="numberOfEmployees", type="text", placeholder="Number Of Employees", ng-model="employer.NumberOfEmployees", required)
                .form-group
                    label.col-md-2.control-label(for="averageNumberOfJobOpeningsPerMonth") AverageNumberOfJobOpeningsPerMonth
                    .col-md-10
                        input.form-control(name="averageNumberOfJobOpeningsPerMonth", type="text", placeholder="Average Number Of Job Openings Per Month", ng-model="employer.AverageNumberOfJobOpeningsPerMonth")
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="update()", ng-disabled="employerForm.$invalid") Update
                            | &nbsp;
                            a.btn.btn-default(href="#/") Cancel