<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container top-padding-med admin-area">
    <div class="pull-left">
        <div class="container">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#accordion">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div><!--/.panel-heading -->
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div><!--/.panel-body -->
                    </div><!--/.panel-collapse -->
                </div><!-- /.panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#/">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div><!--/.panel-heading -->
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">

                            <!-- nested -->


                            <div class="panel-group" id="nested">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#nested" href="#/">
                                                Collapsible Group Item #1
                                            </a>
                                        </h4>
                                    </div><!--/.panel-heading -->
                                    <div id="nested-collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div><!--/.panel-body -->
                                    </div><!--/.panel-collapse -->
                                </div><!-- /.panel -->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#/">
                                                Collapsible Group Item #2
                                            </a>
                                        </h4>
                                    </div><!--/.panel-heading -->
                                    <div id="nested-collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div><!--/.panel-body -->
                                    </div><!--/.panel-collapse -->
                                </div><!-- /.panel -->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#/">
                                                Collapsible Group Item #3
                                            </a>
                                        </h4>
                                    </div><!--/.panel-heading -->
                                    <div id="nested-collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div><!--/.panel-body -->
                                    </div><!--/.panel-collapse -->
                                </div><!-- /.panel -->
                            </div><!-- /.panel-group -->
                            <!-- nested -->


                        </div><!--/.panel-body -->
                    </div><!--/.panel-collapse -->
                </div><!-- /.panel -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#/">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div><!--/.panel-heading -->
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div><!--/.panel-body -->
                    </div><!--/.panel-collapse -->
                </div><!-- /.panel -->
            </div><!-- /.panel-group -->

        </div><!-- /.container --> 
        <!--<a href="#/addJobSeeker" ng-show="{{currentUser}}" class="btn btn-success">{{"Buttons.Add" | translate}}</a>-->
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group">
                <input ng-model="searchText" placeholder="Filter" class="form-control"/>
            </div>
            <div class="form-group margin-left-med">
                <select ng-model="sortOrder"
                        ng-options="item.value as item.text for item in sortOptions" class="form-control">
                </select>
            </div>
        </form>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>{{"JobSeeker.FullName" | translate}}</th>
                <th>{{"JobSeeker.Gender" | translate}}</th>
                <th>{{"JobSeeker.BirthDate" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="jobSeeker in jobSeekers | filter:searchText | orderBy:sortOrder">
                <td><a href="#/jobSeekers/{{jobSeeker._id}}">{{ jobSeeker.FirstName }} {{ jobSeeker.LastName }}</a></td>
                <td><span ng-repeat="name in jobSeeker.Gender.Name |filter:currentLang">{{name.Text}}</span></td>
                <td>{{ jobSeeker.BirthDate | date : 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table> 
    <uib-pagination total-items="allDataCount"
                    items-per-page="paging.pageSize"
                    ng-model="paging.currentPage"
                    max-size="paging.maxPagesToShow"
                    ng-change="getData()"
                    class="pagination-lg"
                    boundary-links="true"
                    previous-text="{{'Buttons.Previous' | translate}}"
                    next-text="{{'Buttons.Next' | translate}}"
                    first-text="{{'Buttons.First' | translate}}"
                    last-text="{{'Buttons.Last' | translate}}">
    </uib-pagination>   
</div>