<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area">

    <div class="well">
        
        <form name="experianceForm" class="form-horizontal">
            <fieldset>
               
                
                <div class="form-group">
                    <label for="company" class="col-md-2 control-label">
                        {{"Experiance.Company"
                        | translate}}
                    </label>

                    <div class="col-md-10">
                        <input name="achievements" type="text" placeholder="{{'Experiance.Company' | translate}}"
                               ng-model="experiance.Company" required="required"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="companySize" class="col-md-2 control-label">
                        {{"Experiance.CompanySize"
                        | translate}}
                    </label>
                    <div class="col-md-3">
                        <select ng-model="experiance.CompanySize" ng-options="companySize._id as companySize.Name[0].Text for companySize in companySizes"
                                class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>

                    <label for="companyType" class="col-md-2 control-label">
                        {{"Experiance.CompanyType"
                        | translate}}
                    </label>
                    <div class="col-md-3">
                        <select ng-model="experiance.CompanyType" ng-options="companyType._id as companyType.Name[0].Text for companyType in companyTypes"
                                class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>


                    <!--<label for="position" class="col-md-2 control-label">
                            {{"Experiance.Position"
                            | translate}}
                        </label>

                        <div class="col-md-1"><input name="position" type="number" placeholder="{{'Experiance.Position' | translate}}"
                                                     ng-model="experiance.Position" required="required"
                                                     class="form-control" /></div>-->
                </div>
                <div class="form-group">
                    <label for="salary" class="col-md-2 control-label">
                        {{"Experiance.Salary"
                        | translate}}
                    </label>

                    <div class="col-md-2">
                        <input name="salary" type="number"
                               placeholder="{{'Experiance.Salary' | translate}}"
                               ng-model="experiance.Salary"
                               class="form-control" />
                    </div>
                   
                
                
                    <label for="periodFrom" class="col-md-2 control-label">
                        {{"Experiance.PeriodFrom"
                        | translate}}
                    </label>

                    <div class="col-md-2">
                        <input name="periodFrom" type="date" placeholder="{{'Experiance.PeriodFrom' | translate}}"
                               ng-model="experiance.PeriodFrom" required="required"
                               class="form-control" />
                    </div>
                    <label for="periodTo" class="col-md-2 control-label">
                        {{"Experiance.PeriodTo"
                        | translate}}
                    </label>

                    <div class="col-md-2">
                        <input name="periodTo" type="date" placeholder="{{'Experiance.PeriodTo' | translate}}"
                               ng-model="experiance.PeriodTo" required="required" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-md-2 control-label">{{"Experiance.Country"| translate}}</label>


                    <div class="col-md-2">
                        <select ng-model="experiance.Country" ng-options="country._id as country.Name[0].Text for country in countries"
                                class="form-control">
                            <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                        </select>
                    </div>


                  
                </div>
                
                <div class="form-group">
                    <label for="achievements" class="col-md-2 control-label">
                        {{"Experiance.Achievements"
                        | translate}}
                    </label>

                    <div class="col-md-10">
                        <input name="achievements" type="text" placeholder="{{'Experiance.Achievements' | translate}}"
                               ng-model="experiance.Achievements" required="required"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="functionalTasks" class="col-md-2 control-label">
                        {{"Experiance.FunctionalTasks"
                        | translate}}
                    </label>

                    <div class="col-md-10">
                        <textarea name="functionalTasks" placeholder="{{'Experiance.FunctionalTasks' | translate}}"
                                  ng-model="experiance.FunctionalTasks"
                                  class="form-control" />
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="update()" ng-show="updateMode" ng-disabled="experianceForm.$invalid" class="btn btn-primary">
                                {{"Buttons.Save" | translate}}
                            </button>

                            <button ng-click="add()" ng-show="addMode" ng-disabled="experianceForm.$invalid||!addEnabled" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a></div>
                    </div>
                </div>
                <div>
                    <input id="search" />
                    <input type="hidden" id="hfValue"/>
                    <input type="hidden" id="currentLang" value="ar" />
                    <label id="destination"  />
                </div>

            </fieldset>
        </form>
    </div>
</div>
<div id="loader" style="visibility:hidden ; position:absolute ; top:15% ; left:40%">
    <img src="ajax-loader.gif" alt="" />
</div>
<script>
    $(function () {
        $("#search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/api/countriesByName/" + request.term,
                    data:{ prefix: request.term, currentLang: $("#currentLang").val() },
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            console.log(item.Name[0].Text);
                            return { label: item.Name[0].Text, value: item.Name[0].Text, id: item._id };
                        }));
                    },
                    error: function (error) {

                        console.log(error);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    beforeSend: function () {
                        var p = $("#destination");
                        var offset = p.offset();

                        //set
                        $("#loader").offset({ top: offset.top + 10, left: offset.left + 200 });
                        $('#loader').css("visibility", "visible");
                    },
                    complete: function () {

                        $('#loader').css("visibility", "hidden");
                    }
                });
            },
            select: function (e, i) {
                console.log(i.item);
                $("#hfValue").val(i.item.id);
                $('#hfValue').trigger('change');
               
            },
            minLength: 2
        });
               
           
    });
    $('#hfValue').change(function () {
        var customerID = $(this).val();
        var p = $("#destination");
        p.text(customerID);

    });
</script>