<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area">
    <div class="well">
        <form name="forgetPasswordForm" class="form-horizontal">
            <fieldset>
                <legend>Forget Password</legend>
                <div class="form-group">
                    <label for="Email" class="col-md-2 control-label">{{"Email" | translate}}</label>
                    <div class="col-md-10">
                        <input name="Email" type="email" placeholder="{{'Email' | translate}}"
                               ng-model="email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="resetPassword()" class="btn btn-primary" ng-disabled="disableFlag">{{"Buttons.Reset Password" | translate}}</button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>