<!--<form name="frontSignupForm" ng-controller="mvFrontSignupCtrl" ng-hide="identity.isAuthenticated()"
      class="form-horizontal">
    <div class="form-group">    
        &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="radio" name="usertype" ng-model="usertype" value="J"
               required="required"/> {{'JobSeeker.JobSeeker' | translate}}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="radio" name="usertype" ng-model="usertype" value="E"
               required="required"/> {{'Employer.Employer' | translate}}
    </div>
    <div class="form-group">
        <input name="email" type="email" placeholder="{{'Email' | translate}}"
               ng-model="email" required="required" class="form-control"/>
    </div>
    <div class="form-group">
        <input name="password" type="password" placeholder="{{'Password' | translate}}" ng-model="password" 
               required="required" class="form-control-md-first"/>
        <input name="confirmpassword" type="password" placeholder="{{'Confirm Password' | translate}}" ng-model="confirmpassword"
               required="required" match-password-validation-error="confirmpassword != password ? 'Passwords don\'t match' : ''" class="form-control-md-second" />
    </div>
    <div class="form-group" ng-show="usertype == 'J'" >
        <input name="firstname" type="text" placeholder="{{'First_Name' | translate}}" ng-model="firstname"
               ng-required="usertype == 'J'" class="form-control"/>
    </div>
    <div class="form-group" ng-show="usertype == 'J'" >
        <input name="lastname" type="text" placeholder="{{'Last_Name' | translate}}" ng-model="lastname"
               ng-required="usertype == 'J'" class="form-control"/>
    </div>
    <div class="form-group" ng-show="usertype == 'E'" >
        <input name="employername" type="text" placeholder="{{'Employer.EmployerName' | translate}}" ng-model="employername"
               ng-required="usertype == 'E'" class="form-control" />
    </div>
    <div class="form-group">
        <button ng-click="signup()" class="btn signup_button">{{'Sign Up' | translate}}</button>
    </div>
    <div class="form-group" ng-hide="identity.isAuthenticated() || usertype == 'E'">
        &nbsp;
        <a href="/auth/facebook" class="facebook_button">Facebook SignUp/Login</a>
        <a href="/auth/google" class="google_button">Google SignUp/Login</a><br/>
        <br/>
    </div>
</form>-->


<div class="modal-dialog modal-member" ng-controller="mvFrontSignupCtrl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
            <form class="noo-ajax-register-form form-horizontal" name="frontSignupForm">
                <div class="form-group row user_login_container">
                    
                    <input type="radio" name="usertype" ng-model="usertype" value="J"
                           required="required" /> {{'JobSeeker.JobSeeker' | translate}}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="usertype" ng-model="usertype" value="E"
                           required="required" /> {{'Employer.Employer' | translate}}

                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input name="email" type="email" placeholder="{{'Email' | translate}}"
                               ng-model="email" required="required" class="user_login form-control" />
                       
                    </div>
                </div>
               
                <div class="form-group row">
                    
                    <label class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input name="password" type="password" placeholder="{{'Password' | translate}}" ng-model="password"
                               required="required" class="user_password form-control" />
                        
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label">Retype your password</label>
                    <div class="col-sm-9">
                        <input name="confirmpassword" type="password" placeholder="{{'Confirm Password' | translate}}" ng-model="confirmpassword"
                               required="required" match-password-validation-error="confirmpassword != password ? 'Passwords don\'t match' : ''" class="cuser_password form-control" />
                        
                    </div>
                </div>
                <div class="form-group row" ng-show="usertype == 'J'">
                    <input name="firstname" type="text" placeholder="{{'First_Name' | translate}}" ng-model="firstname"
                           ng-required="usertype == 'J'" class="form-control" />
                </div>
                <div class="form-group row" ng-show="usertype == 'J'">
                    <input name="lastname" type="text" placeholder="{{'Last_Name' | translate}}" ng-model="lastname"
                           ng-required="usertype == 'J'" class="form-control" />
                </div>
                <div class="form-group row"  ng-show="usertype == 'E'">
                    <input name="employername" type="text" placeholder="{{'Employer.EmployerName' | translate}}" ng-model="employername"
                           ng-required="usertype == 'E'" class="form-control" />
                </div>
                <div class="form-group row" ng-hide="identity.isAuthenticated() || usertype == 'E'">
                    

                    <a href="/auth/facebook" class="facebook_button">Facebook SignUp/Login</a>
                    <br/>
                    <a href="/auth/google" class="google_button">Google SignUp/Login</a><br />
                    <br />
                </div>
                <div class="form-group text-center">
                    <div class="checkbox account-reg-term">
                        <div class="form-control-flat">
                            <label class="checkbox">
                                <input class="account_reg_term" type="checkbox" title="Please agree with the term">
                                <i></i>
                                I agree with the <a href="#">Terms of use</a>
                            </label>
                        </div>
                    </div>
                    <button ng-click="signup()" class="btn signup_button">{{'Sign Up' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>