<form name="frontSignupForm" ng-controller="mvFrontSignupCtrl" ng-hide="identity.isAuthenticated()"
      class="form-horizontal">
    <div class="form-group">
        &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="radio" name="usertype" ng-model="usertype" value="J"
               required="required"/> Job Seeker
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="radio" name="usertype" ng-model="usertype" value="E"
               required="required"/> Employer
    </div>
    <div class="form-group">
        <input name="email" type="email" placeholder="Email" ng-model="email" required="required"
               class="form-control"/>
    </div>
    <div class="form-group">
        <input name="password" type="password" placeholder="Password" ng-model="password"
               required="required" class="form-control"/>
    </div>
    <div class="form-group" ng-show="usertype == 'J'" >
        <input name="firstname" type="text" placeholder="First Name" ng-model="firstname"
               ng-required="usertype == 'J'" class="form-control"/>
    </div>
    <div class="form-group" ng-show="usertype == 'J'" >
        <input name="lastname" type="text" placeholder="Last Name" ng-model="lastname"
               ng-required="usertype == 'J'" class="form-control"/>
    </div>
    <div class="form-group" ng-show="usertype == 'E'" >
        <input name="employername" type="text" placeholder="Employer Name" ng-model="employername"
               ng-required="usertype == 'E'" class="form-control" />
    </div>
    <div class="form-group">
        <button ng-click="signup()" class="btn signup_button">Sign Up</button>
    </div>
    <div class="form-group" ng-hide="identity.isAuthenticated() || usertype == 'E'">
        &nbsp;
        <a href="/auth/facebook" class="facebook_button">Facebook SignUp/Login</a>
        <a href="/auth/google" class="google_button">Google SignUp/Login</a><br/>
        <br/>
    </div>
</form>

<div ng-show="identity.isAuthenticated()">
    Hello , {{ identity.currentUser.FirstName + ' ' + identity.currentUser.LastName }}
</div>