<div class="container-wrap" >
    <div class="main-content container-fullwidth">
        <div class="row">
            <div class="noo-main col-md-12">
                <div class="jform">
                    <div class="jform-header">
                        <div class="container-boxed max">

                        </div>
                    </div>
                    <div class="jform-body">
                        <div class="container-boxed max">
                            <div class="form-horizontal" enctype="multipart/form-data">
                                <div id="step_content_form" class="jstep-content">
                                    <div class="jpanel jpanel-job-form">
                                        <div class="jpanel-title">
                                            <h3>Profile</h3>
                                        </div>
                                        <div class="jpanel-body">
                                            <div class="well">
                                                <form name="profileForm" class="form-horizontal">
                                                    <fieldset>
                                                        <legend>User Profile</legend>
                                                        <div class="form-group">
                                                            <label for="email" class="col-md-2 control-label">Email</label>

                                                            <div class="col-md-10">
                                                                <input name="email" type="email" placeholder="Email" ng-model="email"
                                                                       required="required" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="firstname" class="col-md-2 control-label">First Name</label>

                                                            <div class="col-md-10">
                                                                <input name="firstname" type="text" placeholder="First Name"
                                                                       ng-model="firstname" required="required" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="lastname" class="col-md-2 control-label">Last Name</label>

                                                            <div class="col-md-10">
                                                                <input name="lastname" type="text" placeholder="Last Name"
                                                                       ng-model="lastname" required="required" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="password" class="col-md-2 control-label">Password</label>

                                                            <div class="col-md-10">
                                                                <input name="password" type="password" placeholder="Password"
                                                                       ng-model="password" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-10 col-md-offset-2">
                                                                <div class="pull-right">
                                                                    <button ng-click="update()" ng-disabled="profileForm.$invalid" class="btn btn-primary">
                                                                        Update
                                                                    </button>
                                                                    &nbsp;<a href="#/" class="btn btn-default">Cancel</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

                        <div class="container-boxed max">
                            <div class="form-horizontal" enctype="multipart/form-data">
                                <div id="step_content_form" class="jstep-content">
                                    <div class="jpanel jpanel-job-form">
                                        <div class="jpanel-title">
                                            <h3>Package Details</h3>
                                        </div>
                                        <div class="jpanel-body">
                                            <div class="well">

                                                <article class="noo_job hentry" ng-repeat="UserPackage in userPackages | filter:searchText | orderBy:sortOrder">
                                                    <div class="loop-item-wrap">
                                                        
                                                        <div class="loop-item-content">
                                                            
                                                               
                                                                    <h2 ng-repeat="ind in UserPackage.Name | filter:{Lang:currentLang}">
                                                                        {{ind.Text}}
                                                                    </h2>
                                                                
                                                            <p>
                                                                
                                                                    <span  ng-repeat="name in UserPackage.Package.Name | filter:{Lang:currentLang}">{{name.Text}} </span>
                                                                    <span> {{"UserPackage.NoOfMonths" | translate}} : {{ UserPackage.NoOfMonths}}  </span>
                                                                    <span> {{"UserPackage.Discount" | translate}} : {{ UserPackage.Discount}}  </span>
                                                                    <span> {{"UserPackage.StartDate" | translate}} : {{ UserPackage.StartDate | date}}  </span>
                                                                    <span> {{"UserPackage.ExpiryDate" | translate}} : {{ UserPackage.ExpiryDate | date}}  </span>
                                                                    <span> {{"UserPackage.TotalAmount" | translate}} : {{ UserPackage.TotalAmount}}  </span>
                                                                    <span> {{"UserPackage.PackageAmount" | translate}} : {{ UserPackage.PackageAmount}}  </span>

                                                            </p>
                                                        </div>

                                                    </div>
                                                </article>

                                                <article class="noo_job hentry" ng-repeat="UserFeature in userFeatures | filter:searchText | orderBy:sortOrder">
                                                    <div class="loop-item-wrap">
                                                       
                                                        <div class="loop-item-content">
                                                           
                                                                    <h2 ng-repeat="ind in UserFeature.Name | filter:{Lang:currentLang}">
                                                                        {{ind.Text}}
                                                                    </h2>
                                                              
                                                            <p>
                                                                
                                                                <span>
                                                                    {{"UserFeature.Feature" | translate}} : <span  ng-repeat="name in UserFeature.Feature.Name | filter:{Lang:currentLang}">{{name.Text}} </span>
                                                                </span>
                                                                <span>
                                                                     {{"UserFeature.Points" | translate}} : {{ UserFeature.Points}}  
                                                                </span>
                                                                <span>
                                                                    {{"UserFeature.DistrbuitedForSubUsers" | translate}} : {{ UserFeature.DistrbuitedForSubUsers}}  
                                                                </span>
                                                                <span>
                                                                     {{"UserFeature.UsedFromPoints" | translate}} : {{ UserFeature.UsedFromPoints}}  
                                                                </span>
                                                                <span>
                                                                    {{"UserFeature.ExpiryDate" | translate}} : {{ UserFeature.ExpiryDate | date}}  
                                                                </span>

                                                            </p>
                                                        </div>
                                                       
                                                    </div>
                                                </article>


                                            </div>

                                        </div>

                                        
                                    </div>


                                </div>
                            </div>
                        </div>
            </div>

      

        </div>
    </div>
