<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container admin-area">
    <div class="well">
        <form name="resetPasswordForm" class="form-horizontal">
            <fieldset>
                <legend>Reset Password</legend>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">{{'Password' | translate}}</label>
                    <div class="col-md-10">
                        <input name="Password" type="password" pattern=".{8,}" title="8 characters minimum" 
                               placeholder="{{'Password' | translate}}" ng-model="password" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword" class="col-md-2 control-label">{{'Password' | translate}}</label>
                    <div class="col-md-10">
                        <input name="ConfirmPassword" type="password" pattern=".{8,}" title="8 characters minimum"
                                placeholder="{{'Confirm Password' | translate}}" min="10" ng-model="confirmPassword" required="required" 
                               match-password-validation-error="confirmPassword != password ? 'Passwords don\'t match' : ''" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="resetPassword()" class="btn btn-primary" ng-disabled="disableFlag">{{"Buttons.Change Password" | translate}}</button>
                            &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>