<h3>Language Skills </h3>
<div  ng-controller="mvjobLanguageSkillCtrl">

    <div>

                <div class="form-group">

                    <label for="language" class="col-md-2 control-label">{{"LanguageSkill.Language"| translate}}</label>


                    <div class="col-md-3">
                      
                        <label ng-repeat="n in languages">
                            <input type="radio" name="lang" ng-model="languageSkill.Language" ng-value="n" /> {{n.Name}}
                        </label>
                    </div>

                    <label for="LanguageSkillLevel" class="col-md-2 control-label">
                        {{"LanguageSkill.LanguageLevel" | translate}}
                    </label>

                    <div class="col-md-3">
                       

                        <label ng-repeat="n in languageLevels">
                            <input type="radio" name="skill" ng-model="languageSkill.LanguageSkillLevel" ng-value="n" /> {{n.Name[0].Text}}
                        </label>
                    </div>

                  

                </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="pull-right">


                    <button ng-click="add()"  >
                        {{"Buttons.Add" | translate}}
                    </button>

                </div>
            </div>
        </div>
                <div class="form-group">
                    <table>
                        <tr ng-repeat="langSkill in vacancy.LanguageSkills">
                            
                            <td>{{langSkill.Language.Name}}</td>
                            <td>{{langSkill.LanguageLevel.Name[0].Text}}</td>
                            <td>
                                <button ng-click="delete(langSkill)" ng-disabled="languageSkillForm.$invalid" >
                                    X
                                </button>
                            </td>
                        </tr>

                    </table>

                </div>





                    


    </div>
</div>