
<div class="row bg-gray pb-0">
    <div class="col-md-12">
        <div class="container-boxed max">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div ng-include="'/partials/jobSeeker/sidebar-menu'"></div>

                </div>
                <div class="col-md-9 col-sm-12">
                    <h5>{{'JobSeeker.LanguageSkillsDecrption' | translate}}</h5>
                    <div ng-controller="mvLanguageSkillCtrl">

                        <div>
                            <!--<button ng-click="addLanguageSkill()" class="btn btn-primary">
                                {{"Buttons.Add" | translate}}
                            </button>
                            <br />
                            <br />-->
                            <table class="table table-hover table-striped table-condensed">
                                <thead>
                                    <tr>

                                        <th>{{"LanguageSkill.Language" | translate}}</th>
                                        <th>{{"LanguageSkill.LanguageLevel" | translate}}</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="languageSkill in jobSeeker.LanguageSkills | filter:searchText | orderBy:sortOrder">


                                        <td> {{languageSkill.Language.Name}}</td>

                                        <td><div ng-repeat="ermp in languageSkill.LanguageSkillLevel.Name | filter:{Lang:currentLang}">{{ermp.Text}}</div></td>

                                        <td><button ng-click="updateLanguageSkill(languageSkill)"> {{"Buttons.Update" | translate}}</button></td>
                                        <td><button ng-click="deleteLanguageSkill(languageSkill)"> {{"Buttons.Delete" | translate}}</button></td>


                                    </tr>
                                </tbody>
                            </table>
                            <form name="languageSkillForm" class="form-horizontal" >
                                <fieldset>




                                    <div class="form-group">

                                        <label for="language" class="col-md-4 control-label">{{"LanguageSkill.Language"| translate}}</label>

                                        <div class="col-md-4">
                                            <select ng-model="LanguageSkill.Language._id" ng-options="language._id as language.Name for language in languages"
                                                    class="form-control">
                                                <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="LanguageSkillLevel" class="col-md-4 control-label">
                                            {{"LanguageSkill.LanguageLevel" | translate}}
                                        </label>
                                        <div class="col-md-4">
                                            <select ng-model="LanguageSkill.LanguageSkillLevel._id" ng-options="languageLevel._id as languageLevel.Name[0].Text for languageLevel in languageLevels"
                                                    class="form-control">
                                                <option selected value="">{{"Menu.SelectValue" | translate}}</option>
                                            </select>
                                        </div>



                                    </div>




                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-2">
                                            <div class="pull-right">
                                                <button ng-click="update()" ng-show="updateMode" ng-disabled="languageSkillForm.$invalid" class="btn btn-primary">
                                                    {{"Buttons.Save" | translate}}
                                                </button>

                                                <button ng-click="add()" ng-show="addMode" ng-disabled="languageSkillForm.$invalid||!addEnabled" class="btn btn-primary">
                                                    {{"Buttons.Add" | translate}}
                                                </button>
                                                &nbsp;<a href="#/" class="btn btn-default">{{"Buttons.Cancel" | translate}}</a>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
       
