.panel.panel-primary
    .panel-heading.text-center Featured Jobs
    .panel-body
        .row(ng-repeat="course in courses | filter:{Featured:true}")
            .col-md-12
                a(href="#/courses/{{course._id}}") {{course.Title}}
