
<div class="panel panel-primary" ng-controller="mvJobsByIndustriesCtrl">
    <div class="panel-heading text-center">Jobs By Industry</div>
    <div class="panel-body">
        <div ng-repeat="vacancy in vacanciesByIndustries | unique : 'Industry'" class="row">
            <!--<div class="col-md-3">{{industry.CreatedAt | date:'MMM d'}}</div>-->
            <!--<div class="col-md-6"><div ng-repeat="emp in vacancy.Industry.Description | filter:{Lang:currentLang}">{{emp.Text}}</div></div>-->
            <div class="col-md-9"><a href="#/vacanciesByIndustries/{{vacancy.Industry._id}}"><div ng-repeat="emp in vacancy.Industry.Description | filter:{Lang:currentLang}">{{emp.Text}}</div></a></div>
           <!--<div class="col-md-4"><a href="#/vacanciesByIndustries/{{vacancy._id}}">{{vacanciesByIndustries.length}}</a></div>-->
           
        </div>

        <p ng-show="!vacanciesByIndustries.length">no vals with this filter</p>
    </div>
</div>
<!--| filter:{Industry : {_id: '57555e9c4b6100d400eed4c3'}}-->