.navbar-collapse.collapse
    ul.nav.navbar-nav
        li
            a(href='/#/') {{"Menu.Home" | translate}}
        li
            a(href='/#/courses') {{"Menu.Jobs" | translate}}
        li
            a(href='/#/employers') {{"Menu.Employers" | translate}}
        li
            a(href='/#/vacancies') {{"Menu.Vacancies" | translate}}
    div(ng-include="'/partials/account/navbar-login'")