<div class="navbar-wrapper" ng-controller="mvFrontLoginCtrl">
        <div class="navbar navbar-default fixed-top shrinkable">
            <div class="container-boxed max">
                <div class="navbar-header">
                    <h1 class="sr-only">JobMonster</h1>
                    <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
                        <span class="sr-only">Navigation</span>
                        <i class="fa fa-bars"></i>
                    </a>
                    <a class="navbar-toggle member-navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-user-navbar-collapse">
                        <i class="fa fa-user"></i>
                    </a>
                    <a href="/#/" class="navbar-brand">
                        <img class="noo-logo-img noo-logo-normal" src="images/logo-jobmonster.png" alt="">
                        <img class="noo-logo-mobile-img noo-logo-normal" src="images/logo-mobile.png" alt="">
                    </a>
                </div>
                <nav class="collapse navbar-collapse noo-user-navbar-collapse">
                    
                    <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows">
                        <li>
                            <a href="member.html"><i class="fa fa-sign-in"></i> {{"Menu.Login" | translate}}</a>
                        </li>
                        <li class="button_socical fb">
                            <a href="/auth/facebook">
                            <i class="fa fa-facebook-square"></i>
                            <em class="fa-facebook-square">{{'FacebookSignin' | translate}}</em>
                                </a>
                        </li>
                        <li class="button_socical gg">
                            <i class="fa fa-google-plus"></i>
                            <em class="fa-google-plus">{{'GoogleSignin' | translate}}</em>
                        </li>
                        
                        <li>
                            <a href="member.html"><i class="fa fa-key"></i> {{"Menu.Register" | translate}}</a>
                        </li>
                    </ul>
                </nav>
                <nav class="collapse navbar-collapse noo-navbar-collapse">
                    <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows">
                        <li class="current-menu-item align-left">
                            <a href="/#/">{{"Menu.Home" | translate}}</a>
                           
                        </li>
                        <li class="align-left">
                            <a href="/#/vacancies">{{"Menu.Jobs" | translate}}</a>
                           
                        </li>
                       
                        
                        
                        <li class="menu-item-post-btn">
                            <a href="#/addvacancy">{{"Menu.PostJob" | translate}}</a>
                        </li>
                        <li class="nav-item-member-profile login-link align-center" ng-hide="identity.isAuthenticated()">
                            <a href="#" class="member-links member-login-link" data-rel="loginModal">
                                <i class="fa fa-sign-in"></i>&nbsp;{{"Menu.Login" | translate}}
                            </a>

                            
                        </li>
                        <li class="nav-item-member-profile register-link" ng-hide="identity.isAuthenticated()">
                            <a class="member-links member-register-link" href="#" data-rel="registerModal">
                                <i class="fa fa-key"></i>&nbsp;{{"Menu.Register" | translate}}
                            </a>
                        </li>
                        <li ng-show="identity.isAuthenticated() && identity.currentUser.isAdmin()" class="align-left">
                            <a href="#/profile" class="sf-with-ul">
                                {{"Menu.MyProfile" | translate}}
                            </a>

                            <ul class="sub-menu">


                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/industries">{{"Menu.Industries" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/jobTypes">{{"Menu.JobTypes" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/jobRoles">{{"Menu.JobRoles" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/innerPages">{{"Menu.InnerPages" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/Categories">{{"Menu.Categories" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/educationalLevels">{{"Menu.EducationalLevels" | translate}}</a>
                                </li>

                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/cities">{{"Menu.Cities" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/citiesNotConfirmed">{{"Menu.CitiesNotConfirmed" | translate}}</a>
                                </li>

                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/areas">{{"Menu.Areas" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/areasNotConfirmed">{{"Menu.AreasNotConfirmed" | translate}}</a>
                                </li>

                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/specializations">{{"Menu.Specializations" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/faculties">{{"Menu.Faculties" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/univirsties">{{"Menu.Univirsties" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/univirstiesNotConfirmed">{{"Menu.UnivirstiesNotConfirmed" | translate}}</a>
                                </li>


                            </ul>
                        </li>
                        <li ng-show="identity.isAuthenticated()" class="align-left">
                            <a href="#/profile" class="sf-with-ul" >
                                 {{ identity.currentUser.FirstName + ' ' + identity.currentUser.LastName}}
                            </a>

                            <ul class="sub-menu">
                                
                                                             
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/admin/users">{{"Menu.Users" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/employers">{{"Menu.Employers" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin() || identity.currentUser.isEmployer()">
                                    <a href="#/vacancies">{{"Menu.Vacancies" | translate}}</a>
                                </li>
                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/jobSeekers">{{"Menu.JobSeekers" | translate}}</a>
                                </li>
                                

                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/experiances">{{"Menu.Experiances" | translate}}</a>
                                </li>

                                <li ng-show="identity.currentUser.isAdmin()">
                                    <a href="#/applicants">{{"Menu.Applicants" | translate}}</a>
                                </li>


                                <li ng-show="identity.currentUser.isEmployer()">
                                    <a href="#/updateemployer/profile">{{"Menu.CompanyProfile" | translate}}</a>
                                </li>

                                <li ng-show="identity.currentUser.isJobSeeker()">
                                    <a href="#/updateJobSeeker/PersonalInformation/profile">{{"Menu.JobSeekerProfile" | translate}}</a>
                                </li>
                                <li><a href="#/profile">{{"Menu.MyProfile" | translate}}</a></li>
                                <li><a href="" ng-click="signout()">{{"Menu.Signout" | translate}}</a></li>
                            </ul>
                        </li>


                        

                        <li ng-show="identity.isAuthenticated()" class="nav-item-member-profile register-link"><a href="" ng-click="signout()">{{"Menu.Signout" | translate}}</a></li>

                        <li><a href="" ng-click="changeLanguage('en')">{{"Languages.English" | translate}}</a></li>
                        <li> <a href="" ng-click="changeLanguage('ar')">{{"Languages.Arabic" | translate}}</a></li>
</ul>
                </nav>
            </div>
        </div>
    </div>
   


