<div ng-include="'/partials/main/sidebar-menu'"></div>
<div class="container top-padding-med admin-area">

    <div class="pull-left">
        <a href="#/addCity" ng-show="{{currentUser}}" class="btn btn-success">{{"Buttons.Add" | translate}}</a>
    </div>
    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group"><input ng-model="searchText" placeholder="Filter" class="form-control" /></div>
            <div class="form-group margin-left-med">
                <select ng-model="sortOrder" ng-options="item.value as item.text for item in sortOptions"
                        class="form-control"></select>
            </div>

        </form>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>{{"City.Name" | translate}}</th>
                <th>{{"City.Country" | translate}}</th>
                <th>{{"City.Confirmed" | translate}}</th>
                <th>{{"User.ModifiedBy" | translate}}</th>
                <th>{{"User.CreatedBy" | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="city in cities | filter:searchText | orderBy:sortOrder">
                <td><a href="#/cities/{{city._id}}"> <div ng-repeat="name in city.Name | filter:{Lang:currentLang}">{{name.Text}}</div></a></td>
                <td><div data-drag="true" jqyoui-draggable ng-repeat="country in city.Country.Name | filter:{Lang:currentLang}">{{country.Text}}</div></td>
                <td><input type="checkbox" ng-model="city.Confirmed" disabled="disabled"></td>
                <td>{{ city.ModifiedBy.FirstName}} {{ city.ModifiedBy.LastName}}</td>
                <td>{{ city.CreatedBy.FirstName}} {{ city.CreatedBy.LastName}}</td>
                <td><a class="btn btn-primary" ng-click="selectCity(city)"> {{"Buttons.Select" | translate}}</a></td>

            </tr>
        </tbody>
    </table>
    
    <uib-pagination total-items="allDataCount"
                    items-per-page="paging.pageSize"
                    ng-model="paging.currentPage"
                    max-size="paging.maxPagesToShow"
                    ng-change="getData()"
                    class="pagination-lg" 
                    boundary-links="true"
                    previous-text="{{'Buttons.Previous' | translate}}"
                    next-text="{{'Buttons.Next' | translate}}"
                    first-text="{{'Buttons.First' | translate}}"
                    last-text="{{'Buttons.Last' | translate}}">
    </uib-pagination>

    <div class="row"></div>
    <div class="col-lg-6 text-center">Not Confirmed</div>
    <div class="col-lg-6 text-center">Confirmed</div>
    <div class="col-lg-6">
        
        <label id="selectedNotConfirmedCities"></label>
        <input id="selectedNotConfirmedCitiesIds" type="hidden" />
        <br />
        <label id="message" class="text-danger"></label>
        <!--<select ng-model="city.Country" multiple name="NotConfirmedCity" ng-options="city._id as city.Name[0].Text for city in cities"
                    class="form-control"></select>-->
    </div>
    <div class="col-lg-6">
        <div class="form-group">
           
            <div class="col-md-3">
                <input id="cityName" name="City" />
                <input type="hidden" id="hfCityId" ng-model="area.City" />
                <input type="hidden" id="currentLang" value="ar" />
                <label id="selectedCity" />
               
            </div>
        </div>
    </div>
    
    <div class="col-lg-10">
        <div class="form-group">

            <div class="col-md-3">
                <input id="btnSave" class="btn btn-primary" type="button" value="Save" ng-click="saveCity(city)" />

            </div>
            <br />
        </div>
    </div>
   
</div>